<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="canGoBack"></ion-back-button>
            <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <div class="ion-tile-text">
                <h4 class="p-0 m-0">Doctor name</h4>
               
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- <div class="card doctor-image-card">
        <img src="https://www.moh.gov.bh/Content/Upload/Image/636724316230300000-%D8%AF.%D9%8A%D9%88%D8%B3%D9%81-%D8%A7%D8%AD%D9%85%D8%AF-%D9%86%D9%88%D8%AD.jpg" class="img-fluid" alt="">
    </div>
    <div class="pt-2">
        <div class="doctor-reviews">
            <ion-button fill="outline" style="float: right;margin-top: -14px;" (click)="openBookAppointmentPage()">Take Appointment</ion-button>
            <h6 class="text-muted">Details</h6>

            <ul class="list-group">
                <li class="list-group-item justify-content-between align-items-center p-2 review-li">
                    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.
                    </p>
                    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.
                    </p>
                    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.
                    </p>
                </li>

            </ul>
        </div>
        <div class="doctor-reviews">
            <h6 class="text-muted">Rating</h6>
            <ul class="list-group">
                <li class="list-group-item justify-content-between align-items-center p-2 review-li">
                    <div class="rating-div">
                        <span>5.0</span>
                        <app-rating fontSize="30"></app-rating>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center rate-write">
                    Rate & Write Message
                    <div class="image-parent">
                        <ion-icon color="primary" name="chevron-forward-outline"></ion-icon>
                    </div>
                </li>

            </ul>

            <div>
                <h6 class="text-muted">Reviews</h6>
                <ul class="list-group">
                    <li class="list-group-item justify-content-between align-items-center p-2 review-li">
                        <div class="image-parent">
                            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/don_quixote.jpg" class="img-fluid" alt="quixote">

                            <div class="reviewer-name">
                                <div>
                                    <span class="label label-default">Mubarak Al-Sabah</span>
                                </div>
                                <app-rating fontSize="15" class="div-rating"></app-rating>
                            </div>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.</p>
                    </li>
                    <li class="list-group-item justify-content-between align-items-center p-2 review-li">
                        <div class="image-parent">
                            <div class="image-parent-image">
                                <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/don_quixote.jpg" class="img-fluid" alt="quixote">
                            </div>
                            <div class="reviewer-name">
                                <div>
                                    <span class="label label-default">Mubarak Al-Sabah</span>
                                </div>
                                <app-rating fontSize="15" class="div-rating"></app-rating>
                            </div>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.</p>
                    </li>
                    <li class="list-group-item justify-content-between align-items-center p-2 review-li">
                        <div class="image-parent">
                            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/don_quixote.jpg" class="img-fluid" alt="quixote">
                            <div class="reviewer-name">
                                <div>
                                    <span class="label label-default">Mubarak Al-Sabah</span>
                                </div>
                                <app-rating fontSize="15" class="div-rating"></app-rating>
                            </div>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.</p>
                    </li>
                    <li class="list-group-item justify-content-between align-items-center p-2 review-li">
                        <div class="image-parent">
                            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/don_quixote.jpg" class="img-fluid" alt="quixote">

                            <div class="reviewer-name">
                                <div>
                                    <span class="label label-default">Mubarak Al-Sabah</span>
                                </div>
                                <app-rating fontSize="15" class="div-rating"></app-rating>
                            </div>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>  scrollable   SwipedTabs-->
    <div class="d-flex align-items-center justify-content-between doctors-main doctors-view">
        <div class="ms-3 d-flex doctors-list" (click)="openDoctorProfilePage()">
          <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <img src="../assets/images/my-doctors/doctor-12.jpg" class="rounded-circle"></span>
          <div>
            <h4>Dr. Tejaswini Nayak</h4>
          <p>Pediatrician<br/>Chinmayi Child Care Clinic</p>
          <h6>26 Years experience overall</h6>
          <div class="d-flex d-flex align-items-center mt-2">
            <i class="fa fa-thumbs-up grren"></i> <span> 97% </span> 
            <i class="fa fa-commenting grren ml-2"></i> <span class="m-0"> 153 Patient Stories</span>
        </div>
          </div>
        </div>
       
    </div>
    <div class="">
        <div class="Practo-sec">
          
          <h4><i class="ti-home"></i> In-Clinic Appointment</h4>
          <ul>
            <li>
                <div class="appointments-list-text">
                    <p class="m-0"><strong>Chinmayi Child Care Clinic</strong></p>
                    <p class="m-0">Bellandur</p>
                    <p class="m-0 text-muted">Verified details</p>
                  </div>
            
            </li>
          </ul>
          <div class="">
            <ion-row>
              <ion-toolbar >
                <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment" color="primary" scrollable>
                  <ion-segment-button style="width:400px;" *ngFor="let category of tabs ; let i = index"
                  value={{category}} (click)="selectTab(i)" id="segment-{{i}}">
                  {{category}}
                  </ion-segment-button>
                  </ion-segment>
              </ion-toolbar>
              <ion-col>
                  <div class="">
                <div class="time-buttons-div">
                    <ion-button (click)="openBookAppointmentConformationPage()">10:00 AM</ion-button>
                    <ion-button (click)="openBookAppointmentConformationPage()">11:00 AM</ion-button>
                    <ion-button (click)="openBookAppointmentConformationPage()">12:00 PM</ion-button>
                    <ion-button (click)="openBookAppointmentConformationPage()">01:00 PM</ion-button>
                    <ion-button (click)="openBookAppointmentConformationPage()">02:00 PM</ion-button>
                    <ion-button (click)="openBookAppointmentConformationPage()">03:00 PM</ion-button>
                    <ion-button (click)="openBookAppointmentConformationPage()">04:00 PM</ion-button>
                    <ion-button (click)="openBookAppointmentConformationPage()">05:00 PM</ion-button>
                </div>
                <h4 class="text-center bg-none">View all Slots</h4>
              </div>
              </ion-col>
          </ion-row>
      </div>
        </div>
    <div class="Practo-sec highly-sec border-0">
    <h5>
        Highly Recommended for
    </h5>
    <ul>
      <li class="d-flex">
        <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <i class="fa fa-heart-o" aria-hidden="true"></i></span>
          <div class="appointments-list-text">
              <p class="m-0"><strong>Doctor Friendliness</strong></p>
              <p class="m-0 text-muted">93% patients find the doctor friendly and approachable</p>
            </div>
      </li>
      <li class="d-flex">
            <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "><i class="fa fa-comments-o" aria-hidden="true"></i></span>
            <div class="appointments-list-text">
            <p class="mt-0"><strong>Detailded Treatment Explanation</strong></p>
            <p class="m-0 text-muted">89% patients recommend the doctor for in-depth explanation of their issues</p>
        </div>
      </li>
    </ul>
</div>
<div class="Practo-sec highly-sec border-0">
    <h5 class="mb-2">Patient Stories</h5>
    <p class="text-muted">These stories represent patient opinions and experiences. They do not reflect the doctor's medical capabilities</p>
    <p></p>
</div>
<div class="border-bot pb-3">
<div class="review-chat">
    <div class="mb-3 border-bottom">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <div class="name">V</div>
              <div>
                  <h5 class="m-0">Verified Patient</h5>
                  <p class="m-0 text-muted">23 days ago</p>
              </div>
            </div>
            <div><i class="fa fa-thumbs-up grren"></i></div>
          </div>
          <h5 class="mb-1">Visited for Adolescent Followup & Vaccinations</h5>
          <p>Really warm person! Took time to explain the situation-reasons, possiblity, etc. she went the extra mile and gave us a couple</p>
    </div>
    <div class="mb-3 border-bottom">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <div class="name">R</div>
              <div>
                  <h5 class="m-0">Ramalinga</h5>
                  <p class="m-0 text-muted">23 days ago</p>
              </div>
            </div>
            <div><i class="fa fa-thumbs-up grren"></i></div>
          </div>
          <h5 class="mb-3">Visited for Adolescent Followup & Vaccinations</h5>
          <p>Really warm person! Took time to explain the situation-reasons, possiblity, etc. she went the extra mile and gave us a couple</p>
    </div>
    <div class="mb-3">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <div class="name">V</div>
              <div>
                  <h5 class="m-0">Verified Patient</h5>
                  <p class="m-0 text-muted">23 days ago</p>
              </div>
            </div>
            <div><i class="fa fa-thumbs-up grren"></i></div>
          </div>
          <h5 class="mb-1">Visited for Adolescent Followup & Vaccinations</h5>
          <p>Really warm person! Took time to explain the situation-reasons, possiblity, etc. she went the extra mile and gave us a couple</p>
    </div>
    <div class="d-flex justify-content-center">
        <button>Share Your Story</button>
        <button>Share Your Story</button>
    </div>
</div>
</div>
</div>
<div class="p-1">
    <div class="acc-sec mr-3">
    <ion-list>
            <div>
            <ion-item data-toggle="collapse" data-target="#faq1" aria-expanded="true" aria-controls="faq1">
              <ion-label><strong>Specializations</strong></ion-label>
              <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
            </ion-item>
            <div id="faq1" class="collapse hide" aria-labelledby="faqhead1" data-parent="#faq">
              <ul>
                  <li>Oral and maxilloFacial Surgeon</li>
                  <li>Implantologist</li>
                  <li>Hair Transplant Surgoen</li>
              </ul>
            </div>
        </div>
            <ion-item data-toggle="collapse" data-target="#faq2" aria-expanded="true" aria-controls="faq2">
              <ion-label><strong>Education</strong></ion-label>
              <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
            </ion-item>
            <div id="faq2" class="collapse hide" aria-labelledby="faqhead1" data-parent="#faq">
                <ul>
                    <li>BDS - Ragiv Gandhi University of Health Sciences, Bengalore, India -2009</li>
                    <li>MDS - Oral & Maxillofacial Surgery - Vydehi Institute Of Dental Sciences Research -2015</li>
                    
                </ul>
            </div>
          
            <ion-item data-toggle="collapse" data-target="#faq3" aria-expanded="true" aria-controls="faq3">
              <ion-label><strong>Experience</strong></ion-label>
              <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
            </ion-item>
            <div id="faq3" class="collapse hide" aria-labelledby="faqhead1" data-parent="#faq">
                <ul>
                    <li>2010 - 2012 Senior Dental Surgeon at 32 Smiles Dental Clinic</li>
                    <li>2012 -2015 Oral Surgeon at Vydehi Dental Hospital</li>
                    
                </ul>
            </div>
            <ion-item data-toggle="collapse" data-target="#faq4" aria-expanded="true" aria-controls="faq4">
                <ion-label><strong>Registration</strong></ion-label>
                <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
              </ion-item>
              <div id="faq4" class="collapse hide" aria-labelledby="faqhead1" data-parent="#faq">
                <ul>
                    <li>26101-A Karnataka State Dental Council, 2010</li>
                    
                </ul>
              </div>
         
</ion-list>
    </div>
    </div>
       
        

</ion-content>
<ion-footer class="d-flex d-flex align-items-center footer-btn justify-content-center pt-2 pb-2">
    <ion-button>Video Consult</ion-button>
    <ion-button (click)="openBookAppointmentPage()">Book Appointment</ion-button>
</ion-footer>