<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="canGoBack"></ion-back-button>
            <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <div class="ion-tile-text">
                <h4 class="p-0 m-0">Doctor name</h4>
               
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- <div class="card doctor-image-card">
        <img src="https://www.moh.gov.bh/Content/Upload/Image/636724316230300000-%D8%AF.%D9%8A%D9%88%D8%B3%D9%81-%D8%A7%D8%AD%D9%85%D8%AF-%D9%86%D9%88%D8%AD.jpg" class="img-fluid" alt="">
    </div>
    <div class="pt-2">
        <div class="doctor-reviews">
            <ion-button fill="outline" style="float: right;margin-top: -14px;" (click)="openBookAppointmentPage()">Take Appointment</ion-button>
            <h6 class="text-muted">Details</h6>

            <ul class="list-group">
                <li class="list-group-item justify-content-between align-items-center p-2 review-li">
                    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.
                    </p>
                    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.
                    </p>
                    <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.
                    </p>
                </li>

            </ul>
        </div>
        <div class="doctor-reviews">
            <h6 class="text-muted">Rating</h6>
            <ul class="list-group">
                <li class="list-group-item justify-content-between align-items-center p-2 review-li">
                    <div class="rating-div">
                        <span>5.0</span>
                        <app-rating fontSize="30"></app-rating>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center rate-write">
                    Rate & Write Message
                    <div class="image-parent">
                        <ion-icon color="primary" name="chevron-forward-outline"></ion-icon>
                    </div>
                </li>

            </ul>

            <div>
                <h6 class="text-muted">Reviews</h6>
                <ul class="list-group">
                    <li class="list-group-item justify-content-between align-items-center p-2 review-li">
                        <div class="image-parent">
                            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/don_quixote.jpg" class="img-fluid" alt="quixote">

                            <div class="reviewer-name">
                                <div>
                                    <span class="label label-default">Mubarak Al-Sabah</span>
                                </div>
                                <app-rating fontSize="15" class="div-rating"></app-rating>
                            </div>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.</p>
                    </li>
                    <li class="list-group-item justify-content-between align-items-center p-2 review-li">
                        <div class="image-parent">
                            <div class="image-parent-image">
                                <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/don_quixote.jpg" class="img-fluid" alt="quixote">
                            </div>
                            <div class="reviewer-name">
                                <div>
                                    <span class="label label-default">Mubarak Al-Sabah</span>
                                </div>
                                <app-rating fontSize="15" class="div-rating"></app-rating>
                            </div>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.</p>
                    </li>
                    <li class="list-group-item justify-content-between align-items-center p-2 review-li">
                        <div class="image-parent">
                            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/don_quixote.jpg" class="img-fluid" alt="quixote">
                            <div class="reviewer-name">
                                <div>
                                    <span class="label label-default">Mubarak Al-Sabah</span>
                                </div>
                                <app-rating fontSize="15" class="div-rating"></app-rating>
                            </div>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.</p>
                    </li>
                    <li class="list-group-item justify-content-between align-items-center p-2 review-li">
                        <div class="image-parent">
                            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/don_quixote.jpg" class="img-fluid" alt="quixote">

                            <div class="reviewer-name">
                                <div>
                                    <span class="label label-default">Mubarak Al-Sabah</span>
                                </div>
                                <app-rating fontSize="15" class="div-rating"></app-rating>
                            </div>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>  scrollable   SwipedTabs-->
    <!-- <ion-segment-button SwipedTabs *ngFor="let category of tabs ; let i = index"
        value={{category}} (click)="selectTab(i)" **id="segment-{{i}}**">
        <ion-label>{{category}}</ion-label>
      </ion-segment-button> -->
      
    <!-- <ion-segment scrollable value="today">
        <ion-segment-button value="today" checked>
            <ion-label>Today</ion-label>
          </ion-segment-button>
          <ion-segment-button value="tomorrow" checked>
            <ion-label>Tomorrow</ion-label>
          </ion-segment-button>
          <ion-segment-button value="tomorrow1" checked>
            <ion-label>27 Aug</ion-label>
          </ion-segment-button>
          <ion-segment-button value="tomorrow2" checked>
            <ion-label>28 Aug</ion-label>
          </ion-segment-button>
          <ion-segment-button value="tomorrow3" checked>
            <ion-label>29 Aug</ion-label>
          </ion-segment-button>
          <ion-segment-button value="tomorrow4" checked>
            <ion-label>30 Aug</ion-label>
          </ion-segment-button>
          <ion-segment-button value="tomorrow5" checked>
            <ion-label>31 Aug</ion-label>
          </ion-segment-button>
      </ion-segment> -->
      
      
      <ion-segment scrollable [(ngModel)]="currentTab">
        <ion-segment-button value="subject" id="subject">
          <ion-label>ASSUNTO</ion-label>
        </ion-segment-button>
        <ion-segment-button value="book" id="books">
          <ion-label>LIVROS</ion-label>
        </ion-segment-button>
      </ion-segment>

</ion-content>
<ion-footer>
    <ion-button (click)="openBookAppointmentPage()">Book Appointment</ion-button>
</ion-footer>