<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="canGoBack"></ion-back-button>
            <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
        </ion-buttons>
        <ion-title>Favourites</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="content" style="transform: none;">
        <div class="container-fluid" style="transform: none;">
            <div class="row" style="transform: none;">

                <div class="col-md-7 col-lg-8 col-xl-9">
                    <div class="row row-grid">
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="profile-widget">
                                <div class="doc-img">
                                    <a (click)="openDoctorViewPage()">
                                        <img class="img-fluid" alt="User Image" src="assets/images/doctor-01.jpg">
                                    </a>
                                    <a href="javascript:void(0)" class="fav-btn">
                                        <i class="far fa-bookmark"></i>
                                    </a>
                                </div>
                                <div class="pro-content">
                                    <h3 class="title">
                                        <a (click)="openDoctorViewPage()">Ruby Perrin</a>
                                        <i class="fas fa-check-circle verified"></i>
                                    </h3>
                                    <p class="speciality">MDS - Periodontology and Oral Implantology, BDS</p>
                                    <div class="rating">
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <span class="d-inline-block average-rating">(17)</span>
                                    </div>
                                    <ul class="available-info">
                                        <li>
                                            <i class="ti-location-pin"></i> Kuwait City
                                        </li>
                                        <li>
                                            <i class="ti-time"></i> Available on Fri, 22 Mar
                                        </li>
                                        <li>
                                            <i class="far fa-money-bill-alt"></i> KWD 300 - KWD 1000 <i class="ti-info-alt" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                                        </li>
                                    </ul>
                                    <div class="row row-sm">
                                        <div class="col-6">
                                            <a (click)="openDoctorViewPage()" class="btn view-btn">View Profile</a>
                                        </div>
                                        <div class="col-6">
                                            <a (click)="openBookAppointmentPage()" class="btn book-btn">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="profile-widget">
                                <div class="doc-img">
                                    <a (click)="openDoctorViewPage()">
                                        <img class="img-fluid" alt="User Image" src="assets/images/doctor-02.jpg">
                                    </a>
                                    <a href="javascript:void(0)" class="fav-btn">
                                        <i class="far fa-bookmark"></i>
                                    </a>
                                </div>
                                <div class="pro-content">
                                    <h3 class="title">
                                        <a (click)="openDoctorViewPage()">Darren Elder</a>
                                        <i class="fas fa-check-circle verified"></i>
                                    </h3>
                                    <p class="speciality">BDS, MDS - Oral &amp; Maxillofacial Surgery</p>
                                    <div class="rating">
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star"></i>
                                        <span class="d-inline-block average-rating">(35)</span>
                                    </div>
                                    <ul class="available-info">
                                        <li>
                                            <i class="ti-location-pin"></i> Kuwait City
                                        </li>
                                        <li>
                                            <i class="ti-time"></i> Available on Fri, 22 Mar
                                        </li>
                                        <li>
                                            <i class="far fa-money-bill-alt"></i> KWD 50 - KWD 300 <i class="ti-info-alt" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                                        </li>
                                    </ul>
                                    <div class="row row-sm">
                                        <div class="col-6">
                                            <a (click)="openDoctorViewPage()" class="btn view-btn">View Profile</a>
                                        </div>
                                        <div class="col-6">
                                            <a (click)="openBookAppointmentPage()" class="btn book-btn">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="profile-widget">
                                <div class="doc-img">
                                    <a (click)="openDoctorViewPage()">
                                        <img class="img-fluid" alt="User Image" src="assets/images/doctor-03.jpg">
                                    </a>
                                    <a href="javascript:void(0)" class="fav-btn">
                                        <i class="far fa-bookmark"></i>
                                    </a>
                                </div>
                                <div class="pro-content">
                                    <h3 class="title">
                                        <a (click)="openDoctorViewPage()">Deborah Angel</a>
                                        <i class="fas fa-check-circle verified"></i>
                                    </h3>
                                    <p class="speciality">MBBS, MD - General Medicine, DNB - Cardiology</p>
                                    <div class="rating">
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star"></i>
                                        <span class="d-inline-block average-rating">(27)</span>
                                    </div>
                                    <ul class="available-info">
                                        <li>
                                            <i class="ti-location-pin"></i> Georgia, Kuwait City
                                        </li>
                                        <li>
                                            <i class="ti-time"></i> Available on Fri, 22 Mar
                                        </li>
                                        <li>
                                            <i class="far fa-money-bill-alt"></i> KWD 100 - KWD 400 <i class="ti-info-alt" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                                        </li>
                                    </ul>
                                    <div class="row row-sm">
                                        <div class="col-6">
                                            <a (click)="openDoctorViewPage()" class="btn view-btn">View Profile</a>
                                        </div>
                                        <div class="col-6">
                                            <a (click)="openBookAppointmentPage()" class="btn book-btn">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="profile-widget">
                                <div class="doc-img">
                                    <a (click)="openDoctorViewPage()">
                                        <img class="img-fluid" alt="User Image" src="assets/images/doctor-04.jpg">
                                    </a>
                                    <a href="javascript:void(0)" class="fav-btn">
                                        <i class="far fa-bookmark"></i>
                                    </a>
                                </div>
                                <div class="pro-content">
                                    <h3 class="title">
                                        <a (click)="openDoctorViewPage()">Sofia Brient</a>
                                        <i class="fas fa-check-circle verified"></i>
                                    </h3>
                                    <p class="speciality">MBBS, MS - General Surgery, MCh - Urology</p>
                                    <div class="rating">
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star"></i>
                                        <span class="d-inline-block average-rating">(4)</span>
                                    </div>
                                    <ul class="available-info">
                                        <li>
                                            <i class="ti-location-pin"></i> Louisiana, Kuwait
                                        </li>
                                        <li>
                                            <i class="ti-time"></i> Available on Fri, 22 Mar
                                        </li>
                                        <li>
                                            <i class="far fa-money-bill-alt"></i> KWD 150 - KWD 250 <i class="ti-info-alt" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                                        </li>
                                    </ul>
                                    <div class="row row-sm">
                                        <div class="col-6">
                                            <a (click)="openDoctorViewPage()" class="btn view-btn">View Profile</a>
                                        </div>
                                        <div class="col-6">
                                            <a (click)="openBookAppointmentPage()" class="btn book-btn">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="profile-widget">
                                <div class="doc-img">
                                    <a (click)="openDoctorViewPage()">
                                        <img class="img-fluid" alt="User Image" src="assets/images/doctor-05.jpg">
                                    </a>
                                    <a href="javascript:void(0)" class="fav-btn">
                                        <i class="far fa-bookmark"></i>
                                    </a>
                                </div>
                                <div class="pro-content">
                                    <h3 class="title">
                                        <a (click)="openDoctorViewPage()">Marvin Campbell</a>
                                        <i class="fas fa-check-circle verified"></i>
                                    </h3>
                                    <p class="speciality">MBBS, MD - Ophthalmology, DNB - Ophthalmology</p>
                                    <div class="rating">
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star"></i>
                                        <span class="d-inline-block average-rating">(66)</span>
                                    </div>
                                    <ul class="available-info">
                                        <li>
                                            <i class="ti-location-pin"></i> Michigan, Kuwait City
                                        </li>
                                        <li>
                                            <i class="ti-time"></i> Available on Fri, 22 Mar
                                        </li>
                                        <li>
                                            <i class="far fa-money-bill-alt"></i> KWD 50 - KWD 700
                                            <i class="ti-info-alt" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                                        </li>
                                    </ul>
                                    <div class="row row-sm">
                                        <div class="col-6">
                                            <a (click)="openDoctorViewPage()" class="btn view-btn">View Profile</a>
                                        </div>
                                        <div class="col-6">
                                            <a (click)="openBookAppointmentPage()" class="btn book-btn">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="profile-widget">
                                <div class="doc-img">
                                    <a (click)="openDoctorViewPage()">
                                        <img class="img-fluid" alt="User Image" src="assets/images/doctor-06.jpg">
                                    </a>
                                    <a href="javascript:void(0)" class="fav-btn">
                                        <i class="far fa-bookmark"></i>
                                    </a>
                                </div>
                                <div class="pro-content">
                                    <h3 class="title">
                                        <a (click)="openDoctorViewPage()">Katharine Berthold</a>
                                        <i class="fas fa-check-circle verified"></i>
                                    </h3>
                                    <p class="speciality">MS - Orthopaedics, MBBS, M.Ch - Orthopaedics</p>
                                    <div class="rating">
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star"></i>
                                        <span class="d-inline-block average-rating">(52)</span>
                                    </div>
                                    <ul class="available-info">
                                        <li>
                                            <i class="ti-location-pin"></i> Texas, Kuwait City
                                        </li>
                                        <li>
                                            <i class="ti-time"></i> Available on Fri, 22 Mar
                                        </li>
                                        <li>
                                            <i class="far fa-money-bill-alt"></i> KWD 100 - KWD 500
                                            <i class="ti-info-alt" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                                        </li>
                                    </ul>
                                    <div class="row row-sm">
                                        <div class="col-6">
                                            <a (click)="openDoctorViewPage()" class="btn view-btn">View Profile</a>
                                        </div>
                                        <div class="col-6">
                                            <a (click)="openBookAppointmentPage()" class="btn book-btn">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="profile-widget">
                                <div class="doc-img">
                                    <a (click)="openDoctorViewPage()">
                                        <img class="img-fluid" alt="User Image" src="assets/images/doctor-07.jpg">
                                    </a>
                                    <a href="javascript:void(0)" class="fav-btn">
                                        <i class="far fa-bookmark"></i>
                                    </a>
                                </div>
                                <div class="pro-content">
                                    <h3 class="title">
                                        <a (click)="openDoctorViewPage()">Linda Tobin</a>
                                        <i class="fas fa-check-circle verified"></i>
                                    </h3>
                                    <p class="speciality">MBBS, MD - General Medicine, DM - Neurology</p>
                                    <div class="rating">
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star"></i>
                                        <span class="d-inline-block average-rating">(43)</span>
                                    </div>
                                    <ul class="available-info">
                                        <li>
                                            <i class="ti-location-pin"></i> Kansas, Kuwait City
                                        </li>
                                        <li>
                                            <i class="ti-time"></i> Available on Fri, 22 Mar
                                        </li>
                                        <li>
                                            <i class="far fa-money-bill-alt"></i> KWD 100 - KWD 1000
                                            <i class="ti-info-alt" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                                        </li>
                                    </ul>
                                    <div class="row row-sm">
                                        <div class="col-6">
                                            <a (click)="openDoctorViewPage()" class="btn view-btn">View Profile</a>
                                        </div>
                                        <div class="col-6">
                                            <a (click)="openBookAppointmentPage()" class="btn book-btn">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="profile-widget">
                                <div class="doc-img">
                                    <a (click)="openDoctorViewPage()">
                                        <img class="img-fluid" alt="User Image" src="assets/images/doctor-08.jpg">
                                    </a>
                                    <a href="javascript:void(0)" class="fav-btn">
                                        <i class="far fa-bookmark"></i>
                                    </a>
                                </div>
                                <div class="pro-content">
                                    <h3 class="title">
                                        <a (click)="openDoctorViewPage()">Paul Richard</a>
                                        <i class="fas fa-check-circle verified"></i>
                                    </h3>
                                    <p class="speciality">MBBS, MD - Dermatology , Venereology &amp; Lepros</p>
                                    <div class="rating">
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star"></i>
                                        <span class="d-inline-block average-rating">(49)</span>
                                    </div>
                                    <ul class="available-info">
                                        <li>
                                            <i class="ti-location-pin"></i> California, Kuwait City
                                        </li>
                                        <li>
                                            <i class="ti-time"></i> Available on Fri, 22 Mar
                                        </li>
                                        <li>
                                            <i class="far fa-money-bill-alt"></i> KWD 100 - KWD 400
                                            <i class="ti-info-alt" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                                        </li>
                                    </ul>
                                    <div class="row row-sm">
                                        <div class="col-6">
                                            <a (click)="openDoctorViewPage()" class="btn view-btn">View Profile</a>
                                        </div>
                                        <div class="col-6">
                                            <a (click)="openBookAppointmentPage()" class="btn book-btn">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="profile-widget">
                                <div class="doc-img">
                                    <a (click)="openDoctorViewPage()">
                                        <img class="img-fluid" alt="User Image" src="assets/images/doctor-09.jpg">
                                    </a>
                                    <a href="javascript:void(0)" class="fav-btn">
                                        <i class="far fa-bookmark"></i>
                                    </a>
                                </div>
                                <div class="pro-content">
                                    <h3 class="title">
                                        <a (click)="openDoctorViewPage()">Dr. John Gibbs</a>
                                        <i class="fas fa-check-circle verified"></i>
                                    </h3>
                                    <p class="speciality">MDS - Periodontology and Oral Implantology, BDS</p>
                                    <div class="rating">
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star"></i>
                                        <span class="d-inline-block average-rating">(112)</span>
                                    </div>
                                    <ul class="available-info">
                                        <li>
                                            <i class="ti-location-pin"></i> Oklahoma, Kuwait City
                                        </li>
                                        <li>
                                            <i class="ti-time"></i> Available on Fri, 22 Mar
                                        </li>
                                        <li>
                                            <i class="far fa-money-bill-alt"></i> KWD 500 - KWD 2500
                                            <i class="ti-info-alt" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                                        </li>
                                    </ul>
                                    <div class="row row-sm">
                                        <div class="col-6">
                                            <a (click)="openDoctorViewPage()" class="btn view-btn">View Profile</a>
                                        </div>
                                        <div class="col-6">
                                            <a (click)="openBookAppointmentPage()" class="btn book-btn">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="profile-widget">
                                <div class="doc-img">
                                    <a (click)="openDoctorViewPage()">
                                        <img class="img-fluid" alt="User Image" src="assets/images/doctor-10.jpg">
                                    </a>
                                    <a href="javascript:void(0)" class="fav-btn">
                                        <i class="far fa-bookmark"></i>
                                    </a>
                                </div>
                                <div class="pro-content">
                                    <h3 class="title">
                                        <a (click)="openDoctorViewPage()">Dr. Olga Barlow</a>
                                        <i class="fas fa-check-circle verified"></i>
                                    </h3>
                                    <p class="speciality">MDS - Periodontology and Oral Implantology, BDS</p>
                                    <div class="rating">
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star"></i>
                                        <span class="d-inline-block average-rating">(65)</span>
                                    </div>
                                    <ul class="available-info">
                                        <li>
                                            <i class="ti-location-pin"></i> Montana, Kuwait
                                        </li>
                                        <li>
                                            <i class="ti-time"></i> Available on Fri, 22 Mar
                                        </li>
                                        <li>
                                            <i class="far fa-money-bill-alt"></i> KWD 75 - KWD 250
                                            <i class="ti-info-alt" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                                        </li>
                                    </ul>
                                    <div class="row row-sm">
                                        <div class="col-6">
                                            <a (click)="openDoctorViewPage()" class="btn view-btn">View Profile</a>
                                        </div>
                                        <div class="col-6">
                                            <a (click)="openBookAppointmentPage()" class="btn book-btn">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="profile-widget">
                                <div class="doc-img">
                                    <a (click)="openDoctorViewPage()">
                                        <img class="img-fluid" alt="User Image" src="assets/images/doctor-11.jpg">
                                    </a>
                                    <a href="javascript:void(0)" class="fav-btn">
                                        <i class="far fa-bookmark"></i>
                                    </a>
                                </div>
                                <div class="pro-content">
                                    <h3 class="title">
                                        <a (click)="openDoctorViewPage()">Dr. Julia Washington</a>
                                        <i class="fas fa-check-circle verified"></i>
                                    </h3>
                                    <p class="speciality">MBBS, MD - General Medicine, DM - Endocrinology</p>
                                    <div class="rating">
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star"></i>
                                        <span class="d-inline-block average-rating">(5)</span>
                                    </div>
                                    <ul class="available-info">
                                        <li>
                                            <i class="ti-location-pin"></i> Oklahoma, Kuwait
                                        </li>
                                        <li>
                                            <i class="ti-time"></i> Available on Fri, 22 Mar
                                        </li>
                                        <li>
                                            <i class="far fa-money-bill-alt"></i> KWD 275 - KWD 450
                                            <i class="ti-info-alt" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                                        </li>
                                    </ul>
                                    <div class="row row-sm">
                                        <div class="col-6">
                                            <a (click)="openDoctorViewPage()" class="btn view-btn">View Profile</a>
                                        </div>
                                        <div class="col-6">
                                            <a (click)="openBookAppointmentPage()" class="btn book-btn">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <div class="profile-widget">
                                <div class="doc-img">
                                    <a (click)="openDoctorViewPage()">
                                        <img class="img-fluid" alt="User Image" src="assets/images/doctor-12.jpg">
                                    </a>
                                    <a href="javascript:void(0)" class="fav-btn">
                                        <i class="far fa-bookmark"></i>
                                    </a>
                                </div>
                                <div class="pro-content">
                                    <h3 class="title">
                                        <a (click)="openDoctorViewPage()">Dr. Shaun Aponte</a>
                                        <i class="fas fa-check-circle verified"></i>
                                    </h3>
                                    <p class="speciality">MBBS, MS - ENT, Diploma in Otorhinolaryngology (DLO)</p>
                                    <div class="rating">
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star filled"></i>
                                        <i class="ti-star"></i>
                                        <span class="d-inline-block average-rating">(5)</span>
                                    </div>
                                    <ul class="available-info">
                                        <li>
                                            <i class="ti-location-pin"></i> Indiana, Kuwait
                                        </li>
                                        <li>
                                            <i class="ti-time"></i> Available on Fri, 22 Mar
                                        </li>
                                        <li>
                                            <i class="far fa-money-bill-alt"></i> KWD 150 - KWD 350
                                            <i class="ti-info-alt" data-toggle="tooltip" title="" data-original-title="Lorem Ipsum"></i>
                                        </li>
                                    </ul>
                                    <div class="row row-sm">
                                        <div class="col-6">
                                            <a (click)="openDoctorViewPage()" class="btn view-btn">View Profile</a>
                                        </div>
                                        <div class="col-6">
                                            <a (click)="openBookAppointmentPage()" class="btn book-btn">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

</ion-content>