<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ecit Personal Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
          <ion-icon name="close"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="profile-main">
    <div class="profile-list mb-4"> -->
      <ion-list >
        <ion-item *ngFor="let input of dataFromParent">
          <ion-label position="floating">{{input.label}}</ion-label>
          <ion-input *ngIf="input.type!='textarea'" [type]="input.type" [(ngModel)]="input.value"></ion-input>
          <ion-textarea *ngIf="input.type=='textarea'"  [(ngModel)]="input.value"></ion-textarea>
        </ion-item>
        
      </ion-list>
    
</ion-content>
<ion-footer>
  <ion-button expand="full" (click)="saveProfileData()">Save</ion-button>
</ion-footer>
