<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Choose Country Code</ion-title>
</ion-toolbar>
<ion-content>
<ion-list >
  <ion-item>
    +965 Kuwait
  </ion-item>
  <ion-item>
    +	966 Saudi Arabia
  </ion-item>
  <ion-item>
    +	967 Yemen
  </ion-item>
  <ion-item>
    +968 Oman
  </ion-item>
  <ion-item>
    +964 Iraq
  </ion-item>
  </ion-list>
  All other countries
  <ion-list>
    <ion-item>+93 Afghanistan</ion-item>
    <ion-item>+355 Albania</ion-item>
    <ion-item>+213 Algeria</ion-item>
    <ion-item>+1-684 American Samoa</ion-item>
    <ion-item>+376 Andorra</ion-item>
    <ion-item>+244 Angola</ion-item>
    <ion-item>+1-264 Anguilla</ion-item>
    <ion-item>+672 Antarctica</ion-item>
    <ion-item>+1-268 Antigua and Barbuda</ion-item>
    <ion-item>+54 Argentina</ion-item>
    <ion-item>+374 Armenia</ion-item>
    <ion-item>+297 Aruba</ion-item>
    <ion-item>+61 Australia</ion-item>
    <ion-item>+43 Austria</ion-item>
    <ion-item>+994 Azerbaijan</ion-item>
    <ion-item>+1-242 Bahamas</ion-item>
  </ion-list>

</ion-content>

