<ion-content>
    <div>
        <div class="menu-header-bg-2"></div>
        <div class="menu-header-bg"></div>
        <div class="header-content">
        </div>
    </div>
    <ion-card class="ion-no-margin">
        <ion-card-header>
            <ion-card-title>
                <img style="max-height:150px;width: 150px;margin-top:-10px;" src="assets/icon/logo.png">
            </ion-card-title>
            <ion-card-subtitle class="ion-text-lowercase">
                Let's get started Enter your mobile number
            </ion-card-subtitle>
            <ion-grid>
                <ion-row>
                    <ion-col size="3" col-xl-2 col-lg-3 col-md-4>
                        <ion-item class="ion-margin-bottom" (click)="presentModal()">
                            <ion-input type="tel" placeholder="+965" [(ngModel)]="country.country_code"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size="9" col-12 col-xl-2 col-lg-3 col-md-4>
                        <ion-item class="ion-margin-bottom">
                            <ion-input type="pin" placeholder="Mobile Number" maxlength="10" [(ngModel)]="country.mobile_number" (ionChange)="inputChange(country.mobile_number)"></ion-input>
                        </ion-item>
                        <ion-label [hidden]="numberValidators.validNumber">Not a valid mobile number</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
        <ion-card-content>
            <div class="signin-btns">
                <ion-button expand="block" [disabled]="numberValidators.disableButton" (click)="loginUser()">Continue</ion-button>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>