<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button color="primary" *ngIf="canGoBack"></ion-back-button>
      <ion-menu-button color="primary" *ngIf="!canGoBack"></ion-menu-button>
    </ion-buttons>
    <ion-title>Find Doctors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="card p-1 doctor-card">
    <div class="row no-gutters">
        <div class="col-3">
            <img src="https://www.moh.gov.bh/Content/Upload/Image/636724316230300000-%D8%AF.%D9%8A%D9%88%D8%B3%D9%81-%D8%A7%D8%AD%D9%85%D8%AF-%D9%86%D9%88%D8%AD.jpg" class="doctor-image" alt="">
        </div>
        <div class="col-8 doctor-details mt-2">
            <div class="card-block px-2">
                <p class="card-text">Dr. Aadam </p>
                <h6 class="card-text mt-1">Cardiologist</h6>
                <app-rating class="doctor-rating"></app-rating>
                <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
            </div>
        </div>
        <div class="col-1 doctor-more-btn">
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </div>
    </div>
</div>
<div class="card p-1 doctor-card">
  <div class="row no-gutters">
      <div class="col-3">
          <img src="assets/profile/doctor-2.jfif" class="doctor-image" alt="">
      </div>
      <div class="col-8 doctor-details mt-2">
          <div class="card-block px-2">
              <p class="card-text">Dr. Seema Vazeer </p>
              <h6 class="card-text mt-1">Cardiologist</h6>
              <app-rating class="doctor-rating"></app-rating>
              <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
          </div>
      </div>
      <div class="col-1 doctor-more-btn">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </div>
  </div>
</div>
<div class="card p-1 doctor-card">
  <div class="row no-gutters">
      <div class="col-3">
          <img src="https://www.moh.gov.bh/Content/Upload/Image/637526916400505076-dr-fatima-al-owanati.jpg" class="doctor-image" alt="">
      </div>
      <div class="col-8 doctor-details mt-2">
          <div class="card-block px-2">
              <p class="card-text">Dr. Raja Ahmed Saleh Noaimi</p>
              <h6 class="card-text mt-1">Cardiologist</h6>
              <app-rating class="doctor-rating"></app-rating>
              <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
          </div>
      </div>
      <div class="col-1 doctor-more-btn">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </div>
  </div>
</div>
<div class="card p-1 doctor-card">
  <div class="row no-gutters">
      <div class="col-3">
          <img src="https://www.moh.gov.bh/Content/Upload/Image/636724316230300000-%D8%AF.%D9%8A%D9%88%D8%B3%D9%81-%D8%A7%D8%AD%D9%85%D8%AF-%D9%86%D9%88%D8%AD.jpg" class="doctor-image" alt="">
      </div>
      <div class="col-8 doctor-details mt-2">
          <div class="card-block px-2">
              <p class="card-text">Dr. Aadam </p>
              <h6 class="card-text mt-1">Cardiologist</h6>
              <app-rating class="doctor-rating"></app-rating>
              <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
          </div>
      </div>
      <div class="col-1 doctor-more-btn">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </div>
  </div>
</div>
<div class="card p-1 doctor-card">
<div class="row no-gutters">
    <div class="col-3">
        <img src="assets/profile/doctor-2.jfif" class="doctor-image" alt="">
    </div>
    <div class="col-8 doctor-details mt-2">
        <div class="card-block px-2">
            <p class="card-text">Dr. Seema Vazeer </p>
            <h6 class="card-text mt-1">Cardiologist</h6>
            <app-rating class="doctor-rating"></app-rating>
            <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
        </div>
    </div>
    <div class="col-1 doctor-more-btn">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </div>
</div>
</div>
<div class="card p-1 doctor-card">
<div class="row no-gutters">
    <div class="col-3">
        <img src="https://www.moh.gov.bh/Content/Upload/Image/637526916400505076-dr-fatima-al-owanati.jpg" class="doctor-image" alt="">
    </div>
    <div class="col-8 doctor-details mt-2">
        <div class="card-block px-2">
            <p class="card-text">Dr. Raja Ahmed Saleh Noaimi</p>
            <h6 class="card-text mt-1">Cardiologist</h6>
            <app-rating class="doctor-rating"></app-rating>
            <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
        </div>
    </div>
    <div class="col-1 doctor-more-btn">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </div>
</div>
</div>
<div class="card p-1 doctor-card">
  <div class="row no-gutters">
      <div class="col-3">
          <img src="https://www.moh.gov.bh/Content/Upload/Image/636724316230300000-%D8%AF.%D9%8A%D9%88%D8%B3%D9%81-%D8%A7%D8%AD%D9%85%D8%AF-%D9%86%D9%88%D8%AD.jpg" class="doctor-image" alt="">
      </div>
      <div class="col-8 doctor-details mt-2">
          <div class="card-block px-2">
              <p class="card-text">Dr. Aadam </p>
              <h6 class="card-text mt-1">Cardiologist</h6>
              <app-rating class="doctor-rating"></app-rating>
              <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
          </div>
      </div>
      <div class="col-1 doctor-more-btn">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </div>
  </div>
</div>
<div class="card p-1 doctor-card">
<div class="row no-gutters">
    <div class="col-3">
        <img src="assets/profile/doctor-2.jfif" class="doctor-image" alt="">
    </div>
    <div class="col-8 doctor-details mt-2">
        <div class="card-block px-2">
            <p class="card-text">Dr. Seema Vazeer </p>
            <h6 class="card-text mt-1">Cardiologist</h6>
            <app-rating class="doctor-rating"></app-rating>
            <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
        </div>
    </div>
    <div class="col-1 doctor-more-btn">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </div>
</div>
</div>
<div class="card p-1 doctor-card">
<div class="row no-gutters">
    <div class="col-3">
        <img src="https://www.moh.gov.bh/Content/Upload/Image/637526916400505076-dr-fatima-al-owanati.jpg" class="doctor-image" alt="">
    </div>
    <div class="col-8 doctor-details mt-2">
        <div class="card-block px-2">
            <p class="card-text">Dr. Raja Ahmed Saleh Noaimi</p>
            <h6 class="card-text mt-1">Cardiologist</h6>
            <app-rating class="doctor-rating"></app-rating>
            <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
        </div>
    </div>
    <div class="col-1 doctor-more-btn">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </div>
</div>
</div>



</ion-content>
