<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="canGoBack"></ion-back-button>
            <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
        </ion-buttons>

        <!--<ion-title>Hospitals</ion-title>
        <ion-buttons slot="end" (click)="presentAlertCheckbox()">
            <ion-icon style="font-size: 25px;margin-right:10px;" name="funnel-outline"></ion-icon>
        </ion-buttons> -->
        <div class="find-topbar">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ion-title>Find & Book</ion-title>
                        <!-- <h3>Find & Book</h3> -->
                    </div>

                    <div class="col">
                        <p>LOCATION</p>
                        <form>
                            <select>
                                <option>Banglore</option>
                                <option>Hyderabad</option>
                                <option>Delhi</option>
                                <option>Mumbai</option>
                                <option>Pune</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="content-finddoc-page">
        <!-- <div class="find-topbar">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="index.html"><i class="ti-arrow-left"></i></a>
                        <h3>Find & Book</h3>
                    </div>
                    <div class="col">
                        <p>LOCATION</p>
                        <form>
                            <select>
                                <option>Banglore</option>
                                <option>Hyderabad</option>
                                <option>Delhi</option>
                                <option>Mumbai</option>
                                <option>Pune</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="find-searchbar">
            <form>
                <div class="form-group">
                    <label><i class="fa fa-search"></i></label>
                    <input type="text" class="form-control" placeholder="Search doctors, specialities etc...">
                </div>
            </form>
        </div>
        <div class="mb-4 col-sm-12">
            <div class="d-flex align-items-center justify-content-between doctors-main">
                <div class="ms-3 d-flex align-items-center doctors-list" (click)="openDoctorViewPage()">
                  <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <img src="../assets/images/my-doctors/doctor-12.jpg" class="rounded-circle"></span>
                  <div>
                    <h4>Dr. Tejaswini Nayak</h4>
                  <p>Pediatrician<br/>Chinmayi Child Care Clinic</p>
                  <div class="d-flex d-flex align-items-center"><span class="prime">Prime </span> <button class="plus">PLUS</button></div>
                  </div>
                </div>
                <div class="button" (click)="openSelectDoctorTimeSlotPage()">Book</div>
            </div>
            <div class="d-flex align-items-center justify-content-between doctors-main">
              <div class="ms-3 d-flex align-items-center doctors-list" (click)="openDoctorViewPage()">
                <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <img src="../assets/images/my-doctors/doctor-12.jpg" class="rounded-circle"></span>
                <div>
                  <h4>Dr. Tejaswini Nayak</h4>
                <p>Pediatrician<br/>Chinmayi Child Care Clinic</p>
                <div class="d-flex d-flex align-items-center"><span class="prime">Prime </span> <button class="plus">PLUS</button></div>
                </div>
              </div>
              <div class="button" (click)="openSelectDoctorTimeSlotPage()">Book</div>
          </div>
          <div class="d-flex align-items-center justify-content-between doctors-main">
            <div class="ms-3 d-flex align-items-center doctors-list" (click)="openDoctorViewPage()">
              <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <img src="../assets/images/my-doctors/doctor-12.jpg" class="rounded-circle"></span>
              <div>
                <h4>Dr. Tejaswini Nayak</h4>
              <p>Pediatrician<br/>Chinmayi Child Care Clinic</p>
              <div class="d-flex d-flex align-items-center"><span class="prime">Prime </span> <button class="plus">PLUS</button></div>
              </div>
            </div>
            <div class="button" (click)="openSelectDoctorTimeSlotPage()">Book</div>
          </div>
          <div class="d-flex align-items-center justify-content-between doctors-main">
            <div class="ms-3 d-flex align-items-center doctors-list" (click)="openDoctorViewPage()">
              <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <img src="../assets/images/my-doctors/doctor-12.jpg" class="rounded-circle"></span>
              <div>
                <h4>Dr. Tejaswini Nayak</h4>
              <p>Pediatrician<br/>Chinmayi Child Care Clinic</p>
              <div class="d-flex d-flex align-items-center"><span class="prime">Prime </span> <button class="plus">PLUS</button></div>
              </div>
            </div>
            <div class="button" (click)="openSelectDoctorTimeSlotPage()">Book</div>
          </div>
          <div class="d-flex align-items-center justify-content-between doctors-main">
            <div class="ms-3 d-flex align-items-center doctors-list" (click)="openDoctorViewPage()">
              <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <img src="../assets/images/my-doctors/doctor-12.jpg" class="rounded-circle"></span>
              <div>
                <h4>Dr. Tejaswini Nayak</h4>
              <p>Pediatrician<br/>Chinmayi Child Care Clinic</p>
              <div class="d-flex d-flex align-items-center"><span class="prime">Prime </span> <button class="plus">PLUS</button></div>
              </div>
            </div>
            <div class="button" (click)="openSelectDoctorTimeSlotPage()">Book</div>
          </div>
          <div class="d-flex align-items-center justify-content-between doctors-main">
            <div class="ms-3 d-flex align-items-center doctors-list" (click)="openDoctorViewPage()">
              <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <img src="../assets/images/my-doctors/doctor-12.jpg" class="rounded-circle"></span>
              <div>
                <h4>Dr. Tejaswini Nayak</h4>
              <p>Pediatrician<br/>Chinmayi Child Care Clinic</p>
              <div class="d-flex d-flex align-items-center"><span class="prime">Prime </span> <button class="plus">PLUS</button></div>
              </div>
            </div>
            <div class="button" (click)="openSelectDoctorTimeSlotPage()">Book</div>
          </div>
          
          </div>
        

        <!-- <ion-button expand="block" (click)="openSelectDoctorTimeSlotPage()">Book Appointment</ion-button> -->
    </div>
</ion-content>