.doctor-card {
    .doctor-image {
        max-height: 100px;
        border-radius: 6%;
        margin-top: 4px;
    }
    .doctor-details {
        h6 {
            margin: 0;
        }
        p {
            margin: 0px;
        }
        .rating {
            margin: -5px;
        }
    }
    .doctor-more-btn {
        padding-top: 15px;
    }
    .doctor-rating {
        float: left;
    }
}