.content-finddoc-page {
    margin: 0;
    padding: 0;
}

.find-topbar {
    background: #0069b3;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.find-topbar i {
    color: #ffffff;
    margin-top: 10px;
}

.find-topbar h3 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
    padding-left: 15px;
}

.find-topbar ion-title {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
    padding-left: 15px;
}

.find-topbar p {
    color: #ffffff;
    font-size: 11px;
    font-weight: 600;
    margin: 0;
    text-align: right;
}

.find-topbar form {
    float: right;
    line-height: 10px;
}

.find-topbar form select {
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    text-align: right;
    border: none;
    background: #0069b3;
}


.looking-search {
    border: solid 1px #53a6e0;
    border-radius: 5px;
    margin: 20px 0;
    padding: 12px 0;
    color: #0069b3;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    display: inline-block;
}
.doctors-main .rounded-circle {
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    height: 60px;
    margin-right: 10px;

}
.doctors-main .button{
		padding: 5px 15px;
		background: #14bef0;
		color: #fff;
		border-radius: 2px;
		cursor: pointer;
}
.doctors-list h4 {
    font-size: 16px;
    margin: 0;
}

.doctors-list p {
    margin: 0px 0 10px;
    font-size: 14px;
    color: #868686;
    line-height: 20px;
}
.doctors-list .plus{
	background: #e20c14;
    padding: 4px 8px 8px;
    font-weight: 600;
    color: #ffffff;
    font-size: 11px;
    border-radius: 2px;
    height: 20px;

}
.prime{
	color: #0069b4;
	margin-right: 10px;
}
.doctor-list{
	border-bottom: 1px solid #ccc;

}
.doctors-main {
    margin: 15px 0;
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 15px;
}
