


/* Visit Sec */
.visit-sec .date-sec {padding: 20px 20px 15px;}
.visit-sec .date-sec h3 {margin: 0 0 2px;}
.visit-sec .date-sec p {color: #7d7d7d; font-size: 18px; margin: 0;}

.future-appointment-sec {background: #f6f0f2; padding: 12px; justify-content: flex-start; overflow: scroll; -ms-overflow-style: none;
scrollbar-width: none;}
.single-future-appointment-sec:hover, .single-future-appointment-sec:focus {border: 2px solid #97c9d9;} 
.single-future-appointment-sec { margin: 0 10px 0 0; display: block; min-width: 140px;padding: 10px; background:#fff; border-radius: 12px; border: 2px solid #d6d6d8;}
.single-future-appointment-sec h4 {color: #222; font-size: 15px; font-weight: 500; margin: 0 0 4px;}
.single-future-appointment-sec h5 {color:#3a9ab9; font-size: 12px; margin: 0;}
.current-appointment-sec {background: #fff; padding: 25px 15px 15px;}
.current-appointment-sec h3 {font-weight: 600; color:#000; font-size: 18px; padding: 0 0 20px; border-bottom: 1px solid #eeeeee; margin: 0 0 20px;}
.single-appointment-sec h3 {color: #000; font-size: 14px; font-weight: 600; margin: 0 0 10px; border: none; padding: 0;}
.single-appointment-sec h3 span {font-weight: 300;    color: #7d7d7d;}
.single-appointment-sec a {display: inline-block;padding: 6px;font-size: 14px;color: #116fb5;margin: 5px 10px 5px 0;border: 1px solid #97c9d9;border-radius: 8px;min-width: 30.3%;text-align: center;min-height: 40px;line-height: 30px;} 
.single-appointment-sec a:hover {background: #f9f9f9;}


