<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button *ngIf="canGoBack"></ion-back-button>
          <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
      </ion-buttons>
      <ion-title>Health Checkups</ion-title>
  </ion-toolbar>
</ion-header>
<div class="text-left mt-2 mb-1">
  <ion-button _ngcontent-xyb-c153="" fill="clear" size="small" ng-reflect-fill="clear" ng-reflect-size="small" class="md button button-small button-clear ion-activatable ion-focusable hydrated"><ion-icon _ngcontent-xyb-c153="" slot="start" name="location-outline" ng-reflect-name="location-outline" role="img" class="md hydrated" aria-label="location outline"></ion-icon> Bengalore <ion-icon _ngcontent-xyb-c153="" slot="end" name="chevron-down-outline" ng-reflect-name="chevron-down-outline" role="img" class="md hydrated" aria-label="chevron down outline"></ion-icon></ion-button>
</div>
<ion-content>
  <div>
      <!-- title -->
      <div class="test-booking-title">
          <h3>Get Diabetic health checkups from the comfort of your home.</h3>
          <h4>Upto 30% OFF <span>+ Get 10% healthcash back</span></h4>
      </div>
      <div class="booking-medicine">
      <ul class="booking-medicine-list d-flex">
          <li class="d-flex">
           <img src="assets/images/test-bookings/img4.jpg">
           <span class="padrl-less">Free home sample pickup</span>
          </li>
          <li class="d-flex">
           <img src="assets/images/test-bookings/img4.jpg">
           <span class="padrl-less">Practo <br/>associate labs</span>
          </li>
         
      </ul>
      <ul class="booking-medicine-list d-flex">
      
       <li class="d-flex">
        <img src="assets/images/test-bookings/img4.jpg">
        <span class="padrl-less">E-Reports in 24-72 hours</span>
       </li>
       <li class="d-flex">
        <img src="assets/images/test-bookings/img4.jpg">
        <span class="padrl-less">Free follow-up with a doctor</span>
       </li>
   </ul>
      </div>
  </div>
  <!-- booking list -->
 <div class="test-booking">
  <div class="c-package o-f-color-primary u-marginr-less">
      <a href="">
          <div style="position: relative;"><div class=""><img src="assets/images/test-bookings/health-checkup.jpg">
          </div>
          <div class="package-page-img-gradient"></div>
      </div>
      <div class="u-marginrl-std-half">
          <div class="u-separator u-marginb-std-half">
              <div class="c-package-title-box u-marginb-std">
                  <h3 class="u-font-bold u-padb-less u-margint-std-half o-font-size-0">Young Indian Health Checkup</h3>
                  <p class="o-f-color-subtle"><span>Ideal for individuals aged</span>&nbsp;<span class="u-font-bold">21 - 40 years</span></p>
              </div>
              <div class="c-package-tests u-marginb-std-half">
                  <div class="c-package-tests-details u-border-std u-padrl-std-half u-padtb-std">
                      <h4 class="o-font-size-14 u-font-bold" data-aid="package-details-tests-number">61 tests included</h4>
                  </div>
              </div>
          </div>
      </div>
  </a>
 </div>
 <footer class="c-package-footer u-marginrl-std-half u-marginb-std-half">
  <div class="c-package-footer-controls">
      <div>
          <div class="c-package-price u-font-bold">
              <span class="o-font-size-20 u-marginr-std">₹749</span>
              <s class="o-f-color-light u-marginr-std">₹1150</s>
              <span class="o-f-color-green-three">35% off</span>
          </div>
          <div class="o-flex">
              <div class=""><div class="o-f-color-green-three u-pointer">+ 10% Health cashback* T&amp;C</div>
          </div>
      </div>
  </div>
  <a href="">
      <span class="c-package-book " data-aid="m-popular-package-book">Book Now</span></a></div></footer>
 </div>
 <!-- booking list -->
 <div class="test-booking">
  <div class="c-package o-f-color-primary u-marginr-less">
      <a href="">
          <div style="position: relative;"><div class=""><img src="assets/images/test-bookings/health-checkup-2.jpg">
          </div>
          <div class="package-page-img-gradient"></div>
      </div>
      <div class="u-marginrl-std-half">
          <div class="u-separator u-marginb-std-half">
              <div class="c-package-title-box u-marginb-std">
                  <h3 class="u-font-bold u-padb-less u-margint-std-half o-font-size-0">Young Indian Health Checkup</h3>
                  <p class="o-f-color-subtle"><span>Ideal for individuals aged</span>&nbsp;<span class="u-font-bold">21 - 40 years</span></p>
              </div>
              <div class="c-package-tests u-marginb-std-half">
                  <div class="c-package-tests-details u-border-std u-padrl-std-half u-padtb-std">
                      <h4 class="o-font-size-14 u-font-bold" data-aid="package-details-tests-number">61 tests included</h4>
                  </div>
              </div>
          </div>
      </div>
  </a>
 </div>
 <footer class="c-package-footer u-marginrl-std-half u-marginb-std-half">
  <div class="c-package-footer-controls">
      <div>
          <div class="c-package-price u-font-bold">
              <span class="o-font-size-20 u-marginr-std">₹749</span>
              <s class="o-f-color-light u-marginr-std">₹1150</s>
              <span class="o-f-color-green-three">35% off</span>
          </div>
          <div class="o-flex">
              <div class=""><div class="o-f-color-green-three u-pointer">+ 10% Health cashback* T&amp;C</div>
          </div>
      </div>
  </div>
  <a href="">
      <span class="c-package-book " data-aid="m-popular-package-book">Book Now</span></a></div></footer>
 </div>
 <!-- booking list -->
 <div class="test-booking">
  <div class="c-package o-f-color-primary u-marginr-less">
      <a href="">
          <div style="position: relative;"><div class=""><img src="assets/images/test-bookings/health-checkup-3.jpg">
          </div>
          <div class="package-page-img-gradient"></div>
      </div>
      <div class="u-marginrl-std-half">
          <div class="u-separator u-marginb-std-half">
              <div class="c-package-title-box u-marginb-std" data-aid="popular-health-packages-card-title">
                  <h3 class="u-font-bold u-padb-less u-margint-std-half o-font-size-0">Young Indian Health Checkup</h3>
                  <p class="o-f-color-subtle"><span>Ideal for individuals aged</span>&nbsp;<span class="u-font-bold">21 - 40 years</span></p>
              </div>
              <div class="c-package-tests u-marginb-std-half">
                  <div class="c-package-tests-details u-border-std u-padrl-std-half u-padtb-std">
                      <h4 class="o-font-size-14 u-font-bold" data-aid="package-details-tests-number">61 tests included</h4>
                  </div>
              </div>
          </div>
      </div>
  </a>
 </div>
 <footer class="c-package-footer u-marginrl-std-half u-marginb-std-half">
  <div class="c-package-footer-controls">
      <div>
          <div class="c-package-price u-font-bold">
              <span class="o-font-size-20 u-marginr-std">₹749</span>
              <s class="o-f-color-light u-marginr-std">₹1150</s>
              <span class="o-f-color-green-three">35% off</span>
          </div>
          <div class="o-flex">
              <div class=""><div class="o-f-color-green-three u-pointer">+ 10% Health cashback* T&amp;C</div>
          </div>
      </div>
  </div>
  <a href="">
      <span class="c-package-book " data-aid="m-popular-package-book">Book Now</span></a></div></footer>
 </div>
<div class="d-block u-marginrl-std-half mt-5 mr-3">
 <div class="test-booking-cont">
     <h3>Raliable Trustworthy</h3>
     <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's  book. 
     </p>
 </div>
 <div class="test-booking-cont">
  <h3>Raliable Trustworthy</h3>
  <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's  book. 
  </p>
</div>
<div class="test-booking-cont">
  <h3>Raliable Trustworthy</h3>
  <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's  book. 
  </p>
</div>
</div>
 <div class="brand-wrapper">
  <div class="sec-title text-center mb-0">
      <h2>In the Spotlight</h2>
      <p>Explore deals, offers, health updates and more</p>
      <span class="decor"><span class="inner"></span></span>
  </div>

  <div class="row justify-content-center">
      <div class="col-lg-10">
          <!-- <div class="owl-carousel owl-theme brand-slider">
              <div class="item">
                  <a target="_blank" href="JavaScript:Void(0)"> <img src="assets/images/spotlight-carousel/img1.jpg" alt="" title=""></a>
              </div>
              <div class="item">
                  <a target="_blank" href="JavaScript:Void(0)"> <img src="assets/images/spotlight-carousel/img2.jpg" alt="" title=""></a>
              </div>
              <div class="item">
                  <a target="_blank" href="JavaScript:Void(0)"> <img src="assets/images/spotlight-carousel/img3.jpg" alt="" title=""></a>
              </div>
              <div class="item">
                  <a target="_blank" href="JavaScript:Void(0)"> <img src="assets/images/spotlight-carousel/img4.jpg" alt="" title=""></a>
              </div>
              <div class="item">
                  <a target="_blank" href="JavaScript:Void(0)"> <img src="assets/images/spotlight-carousel/img2.jpg" alt="" title=""></a>
              </div>
              <div class="item">
                  <a target="_blank" href="JavaScript:Void(0)"> <img src="assets/images/spotlight-carousel/img3.jpg" alt="" title=""></a>
              </div>
              <div class="item">
                  <a target="_blank" href="JavaScript:Void(0)"> <img src="assets/images/spotlight-carousel/img4.jpg" alt="" title=""></a>
              </div>
          </div> -->
          <ion-slides pager="true" [options]="spotlightSlideOpts" class="spot-slid-btm-pad">
              <ion-slide>
                  <div class="item">
                      <a target="_blank"> <img src="assets/images/spotlight-carousel/img1.jpg" alt="" title=""></a>
                  </div>
              </ion-slide>
              <ion-slide>
                  <div class="item">
                      <a target="_blank"> <img src="assets/images/spotlight-carousel/img2.jpg" alt="" title=""></a>
                  </div>
              </ion-slide>
              <ion-slide>
                  <div class="item">
                      <a target="_blank"> <img src="assets/images/spotlight-carousel/img3.jpg" alt="" title=""></a>
                  </div>
              </ion-slide>
              <ion-slide>
                  <div class="item">
                      <a target="_blank"> <img src="assets/images/spotlight-carousel/img4.jpg" alt="" title=""></a>
                  </div>
              </ion-slide>
              <ion-slide>
                  <div class="item">
                      <a target="_blank"> <img src="assets/images/spotlight-carousel/img3.jpg" alt="" title=""></a>
                  </div>
              </ion-slide>
              <ion-slide>
                  <div class="item">
                      <a target="_blank"> <img src="assets/images/spotlight-carousel/img4.jpg" alt="" title=""></a>
                  </div>
              </ion-slide>
          </ion-slides>
      </div>
  </div>
</div>
</ion-content>
