<ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button (click)="backToHomePage()">
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>Fatima Mohmad Ali</ion-title>
</ion-toolbar>

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="top" color="primary">
            <ion-tab-button tab="personal">
                <ion-label>Personal</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="medical">
                <ion-label>Medical</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="lifestyle">
                <ion-label>Lifestyle</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>