ion-content{
    --background:#44cfbc;
    .header{
        display: flex;
        justify-content: space-between;
        padding: 1rem 0.5rem;
        color:#fff;
    }
    .card-image{
        height: 87%;
        width: 100%;
        background: #fff;
        position: absolute;
        bottom: 0;
        border-radius: 3rem 3rem 0 0;
        padding:2rem;
        .image{
            position: absolute;
            top:-4rem;
            width: 35%;
            left:50%;
            transform: translateX(-50%);
            img {
                border-radius: 20%;
                border: 2px #5e7ccc solid;
            }
        }
    }
    .personal-details{
        position: relative;
        top: 70px;
        border-radius: 10px;
        background-color: #f0f2f8;
        .card-header{
            padding: 0;
            height: 35px;
            .header-tile{
                margin-top: 2px;
            }
        }
        ion-button {
            float: right;
            height: 16px;
            width: 48px;
            ion-icon {
                font-size: 16px;
                left: -7px;
                bottom: 5px;  
            }
        }
        .card-header{
            padding: 0.3rem 0.3rem;
        }
        .personal-details-content{
            padding: 10px 5px;
            font-size: 10px;
            p{
                margin: 0px 0px 4px 0px;
            }
        }
    }
}