<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="canGoBack"></ion-back-button>
            <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
        </ion-buttons>
        <ion-title>Doctor Consultation</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
   <div class="container">

    <div class="icons-main">
         <h4>Choose from Top Specialities</h4>
        <div class="row">
            <div class="col-3">
                <a href="#"> 
                    <img src="assets/images/doctor-01.jpg"/>
                    <p>Coronavirus</p>
                </a>
            </div>
            <div class="col-3">
                <a href="#"> 
                    <img src="assets/images/doctor-02.jpg"/>
                    <p>Gynaecology</p>
                </a>
            </div>
            <div class="col-3">
                <a href="#"> 
                    <img src="assets/images/doctor-03.jpg"/>
                    <p>General Physician</p>
                </a>
            </div>
            <div class="col-3">
                <a href="#"> 
                    <img src="assets/images/doctor-04.jpg"/>
                    <p>Dermotology</p>
                </a>
            </div>
            <div class="col-3">
                <a href="#"> 
                    <img src="assets/images/doctor-05.jpg"/>
                    <p>Orthopedic</p>
                </a>
            </div>
            <div class="col-3">
               <a href="#"> 
                   <img src="assets/images/doctor-06.jpg"/>
                    <p>Pediatrics</p>
                </a>
            </div>
            <div class="col-3">
                <a href="#"> 
                    <img src="assets/images/doctor-07.jpg"/>
                    <p>Sexology</p>
                </a>
            </div>
            <div class="col-3">
                <a href="#"> 
                    <p class="viewall-cir">View All</p>
                </a>
            </div>
        </div>
    </div>

    <div class="icons-main">
        <h4>Common Health Issues</h4>
       <div class="row">
           <div class="col-3">
               <a href="#"> 
                   <img src="assets/images/doctor-01.jpg"/>
                   <p>Stomach Pain</p>
               </a>
           </div>
           <div class="col-3">
               <a href="#"> 
                   <img src="assets/images/doctor-02.jpg"/>
                   <p>Vertigo</p>
               </a>
           </div>
           <div class="col-3">
               <a href="#"> 
                   <img src="assets/images/doctor-03.jpg"/>
                   <p>Acne</p>
               </a>
           </div>
           <div class="col-3">
               <a href="#"> 
                   <img src="assets/images/doctor-04.jpg"/>
                   <p>PCOS</p>
               </a>
           </div>
       </div>
   </div>

   <div class="icons-main">
    <h4>Orthopedist</h4>
   <div class="row">
       <div class="col-3">
           <a href="#"> 
               <img src="assets/images/doctor-01.jpg"/>
               <p>Knee Pain</p>
           </a>
       </div>
       <div class="col-3">
           <a href="#"> 
               <img src="assets/images/doctor-02.jpg"/>
               <p>Shoulder Pain</p>
           </a>
       </div>
       <div class="col-3">
           <a href="#"> 
               <img src="assets/images/doctor-03.jpg"/>
               <p>Leg Pain</p>
           </a>
       </div>
       <div class="col-3">
           <a href="#"> 
               <img src="assets/images/doctor-04.jpg"/>
               <p>Carpel Tunel Sy...</p>
           </a>
       </div>
   </div>
</div>

    
<div class="icons-main">
    <h4>Dermotologist</h4>
   <div class="row">
       <div class="col-3">
           <a href="#"> 
               <img src="assets/images/doctor-01.jpg"/>
               <p>Vitilgo</p>
           </a>
       </div>
       <div class="col-3">
           <a href="#"> 
               <img src="assets/images/doctor-02.jpg"/>
               <p>Hari Loss</p>
           </a>
       </div>
       <div class="col-3">
           <a href="#"> 
               <img src="assets/images/doctor-03.jpg"/>
               <p>Acne Scars</p>
           </a>
       </div>
       <div class="col-3">
           <a href="#"> 
               <img src="assets/images/doctor-04.jpg"/>
               <p>Dandruff</p>
           </a>
       </div>
   </div>
</div>

   </div>
</ion-content>