<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button *ngIf="canGoBack"></ion-back-button>
      <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
    </ion-buttons>
    <ion-title>Reviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Profile Sidebar -->
  <div class="content">
    <div class="container-fluid">
  
      <div class="row">
        <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
  
          <!-- Profile Sidebar -->
          <div class="profile-sidebar">
            <div class="widget-profile pro-widget-content">
              <div class="profile-info-widget">
                <a href="#" class="booking-doc-img">
                  <img src="../assets/images/doctor-home/doctor-thumb-02.jpg" alt="User Image">
                </a>
                <div class="profile-det-info">
                  <h3>Dr. Darren Elder</h3>
  
                  <div class="patient-details">
                    <h5 class="mb-0">BDS, MDS - Oral & Maxillofacial Surgery</h5>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
          <!-- /Profile Sidebar -->
  
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 col-lg-8 col-xl-9">
          <div class="doc-review review-listing">
  
            <!-- Review Listing -->
            <ul class="comments-list">
  
              <!-- Comment List -->
              <li>
                <div class="comment">
                  <img class="avatar rounded-circle" alt="User Image" src="../assets/images/doctor-home/patient.jpg">
                  <div class="comment-body">
                    <div class="meta-data">
                      <span class="comment-author">Richard Wilson</span>
                      <span class="comment-date">Reviewed 2 Days ago</span>
                      <div class="review-count rating">
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                    <p class="recommended"><i class="fa fa-thumbs-up"></i> I recommend the
                      doctor</p>
                    <p class="comment-content">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Ut enim ad minim veniam, quis nostrud exercitation.
                      Curabitur non nulla sit amet nisl tempus
                    </p>
                    <div class="comment-reply">
                     <p class="m-0">
                      <a class="comment-btn" href="#">
                        <i class="fa fa-reply"></i> Reply
                      </a>
                     </p>
                      <div class="recommend-btn">
                        <p>Recommend?</p>
                        <a href="#" class="like-btn">
                          <i class="fa fa-thumbs-up"></i> Yes
                        </a>
                        <a href="#" class="dislike-btn">
                          <i class="fa fa-thumbs-down"></i> No
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
  
                <!-- Comment Reply -->
                <ul class="comments-reply">
  
                  <!-- Comment Reply List -->
                  <li>
                    <div class="comment">
                      <img class="avatar rounded-circle" alt="User Image" src="../assets/images/doctor-home/patient.jpg">
                      <div class="comment-body">
                        <div class="meta-data">
                          <span class="comment-author">Dr. Darren Elder</span>
                          <span class="comment-date">Reviewed 3 Days ago</span>
                        </div>
                        <p class="comment-content">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna
                          aliqua.
                          Ut enim ad minim veniam.
                          Curabitur non nulla sit amet nisl tempus
                        </p>
                        <div class="comment-reply">
                          <a class="comment-btn" href="#">
                            <i class="fa fa-reply"></i> Reply
                          </a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <!-- /Comment Reply List -->
  
                </ul>
                <!-- /Comment Reply -->
  
              </li>
              <!-- /Comment List -->
  
            </ul>
            <!-- /Comment List -->
  
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 col-lg-8 col-xl-9">
          <div class="doc-review review-listing">
  
            <!-- Review Listing -->
            <ul class="comments-list">
  
              <!-- Comment List -->
              <li>
                <div class="comment">
                  <img class="avatar rounded-circle" alt="User Image" src="../assets/images/doctor-home/patient.jpg">
                  <div class="comment-body">
                    <div class="meta-data">
                      <span class="comment-author">Richard Wilson</span>
                      <span class="comment-date">Reviewed 2 Days ago</span>
                      <div class="review-count rating">
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star filled"></i>
                        <i class="fa fa-star"></i>
                      </div>
                    </div>
                    <p class="recommended"><i class="fa fa-thumbs-up"></i> I recommend the
                      doctor</p>
                    <p class="comment-content">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      Ut enim ad minim veniam, quis nostrud exercitation.
                      Curabitur non nulla sit amet nisl tempus
                    </p>
                    <div class="comment-reply">
                     <p class="m-0">
                      <a class="comment-btn" href="#">
                        <i class="fa fa-reply"></i> Reply
                      </a>
                     </p>
                      <div class="recommend-btn">
                        <p>Recommend?</p>
                        <a href="#" class="like-btn">
                          <i class="fa fa-thumbs-up"></i> Yes
                        </a>
                        <a href="#" class="dislike-btn">
                          <i class="fa fa-thumbs-down"></i> No
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
  
                <!-- Comment Reply -->
                <ul class="comments-reply">
  
                  <!-- Comment Reply List -->
                  <li>
                    <div class="comment">
                      <img class="avatar rounded-circle" alt="User Image" src="../assets/images/doctor-home/patient.jpg">
                      <div class="comment-body">
                        <div class="meta-data">
                          <span class="comment-author">Dr. Darren Elder</span>
                          <span class="comment-date">Reviewed 3 Days ago</span>
                        </div>
                        <p class="comment-content">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna
                          aliqua.
                          Ut enim ad minim veniam.
                          Curabitur non nulla sit amet nisl tempus
                        </p>
                        <div class="comment-reply">
                          <a class="comment-btn" href="#">
                            <i class="fa fa-reply"></i> Reply
                          </a>
                        </div>
                      </div>
                    </div>
                  </li>
                  <!-- /Comment Reply List -->
  
                </ul>
                <!-- /Comment Reply -->
  
              </li>
              <!-- /Comment List -->
  
            </ul>
            <!-- /Comment List -->
  
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Profile Sidebar -->
</ion-content>
