<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button *ngIf="canGoBack"></ion-back-button>
      <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
    </ion-buttons>
    <ion-title>Reviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="Practo-sec highly-sec border-0">
    <h5 class="mb-2">Doctor Stories</h5>
    <p class="text-muted">These stories represent patient opinions and experiences. They do not reflect the doctor's medical capabilities</p>
    <p></p>
</div>
<div class="border-bot pb-3">
    <div class="review-chat">
        <div class="mb-3 border-bottom">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="name">V</div>
                    <div>
                        <h5 class="m-0">Verified Doctor </h5>
                        <p class="m-0 text-muted">23 days ago</p>
                    </div>
                </div>
                <div><i class="fa fa-thumbs-up grren"></i></div>
            </div>
            <h5 class="mb-1">Visited for Adolescent Followup & Vaccinations</h5>
            <p>Really warm person! Took time to explain the situation-reasons, possiblity, etc. she went the extra mile and gave us a couple</p>
        </div>
        <div class="mb-3 border-bottom">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="name">R</div>
                    <div>
                        <h5 class="m-0">Ramalinga</h5>
                        <p class="m-0 text-muted">23 days ago</p>
                    </div>
                </div>
                <div><i class="fa fa-thumbs-up grren"></i></div>
            </div>
            <h5 class="mb-3">Visited for Adolescent Followup & Vaccinations</h5>
            <p>Really warm person! Took time to explain the situation-reasons, possiblity, etc. she went the extra mile and gave us a couple</p>
        </div>
        <div class="mb-3">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="name">V</div>
                    <div>
                        <h5 class="m-0">Verified Doctor </h5>
                        <p class="m-0 text-muted">23 days ago</p>
                    </div>
                </div>
                <div><i class="fa fa-thumbs-up grren"></i></div>
            </div>
            <h5 class="mb-1">Visited for Adolescent Followup & Vaccinations</h5>
            <p>Really warm person! Took time to explain the situation-reasons, possiblity, etc. she went the extra mile and gave us a couple</p>
        </div>
      
    </div>
</div>


</ion-content>
