<ion-content>
    <div class="profile-main">
        <div class="title d-flex justify-content-between">
            <div>
                <label class="text-muted">Name</label>
                <p>DR. Reshu Saraogi</p>
            </div>
            <div><img  src="assets/images/speciality/img2.jpg" alt=""></div>
        </div>

        <div class="profile-list mb-4">
            <ul class="p-0">
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Allergies</label>
                    <label class="text-muted">add allergies</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Current Medications</label>
                    <label class="text-muted">add medications</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Past Medications</label>
                    <label class="text-muted">add Medications</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Chronic Diseases</label>
                    <label class="text-muted">add Diseases </label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Injuries</label>
                    <label class="text-muted">add incident</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Surgeies</label>
                    <label class="">No</label>
                </li>
               
            </ul>
            <div class="complate-profile">
                <div class="complate-profile-inner">
                <h4> Complete profile</h4>
                <p class="m-0">13% Completed</p>
            </div>
            </div>
        </div>
</div>

</ion-content>