<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 p-0">
            <h6 class="text-muted">Choose Action</h6>
            <ul class="list-group">
                <li class="list-group-item" (click)="openDoctorViewPage()">
                    <ion-icon class="pr-1" color="primary" name="eye-outline"></ion-icon> View
                </li>
                <li class="list-group-item" (click)="openDoctorBookingPage()">
                    <ion-icon class="pr-1" color="secondary" name="alarm-outline"></ion-icon> Book Appointment
                </li>
            </ul>
        </div>
    </div>
</div>