<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button *ngIf="canGoBack"></ion-back-button>
      <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
    </ion-buttons>
    <ion-title>Share record</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="share-record">
  <div class="d-flex justify-content-center title">
    <h4>Share medical records with:</h4>
    <h5>Add from contacts</h5>
  </div>
  <div>
    <form> 
      <div class="share-form">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Mobile number">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Pull name">
      </div>
    </div>
    </form>
  </div>
</div>
</ion-content>
