.share-record{
    .title {
        background-color: #f1f0f5;
        padding: 15px;
    
    h4{
   font-size: 0.8rem;
   margin: 0px;
   font-weight: 600;
   margin-right: 20px;
   color: #777272;
    }
    h5{

        font-size: 0.8rem;
        margin: 0px;
        color: #0069b4;
        font-weight: 600;
    }
}
}
.share-form{
    margin:30px 15px 15px;
    .form-control {
        font-size: 0.8rem;
        height: 40px;
    }
}