<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button *ngIf="canGoBack"></ion-back-button>
      <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
    </ion-buttons>
    <ion-title>My doctors</ion-title>
    <!-- <ion-buttons slot="end" >
      <ion-button>Edit</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <div class="appointments-main m-2">
  <div>Doctors list</div>
  <ion-button (click)="openDoctorProfilePage()">View Doctor</ion-button>
  <ion-button (click)="bookAppointmentPage()">Book Appointment</ion-button>
</div> -->
<div class="mb-4 col-sm-12" *ngIf="showContent">
  <div *ngFor="let doctor of doctorsData" class="d-flex align-items-center justify-content-between doctors-main">
      <div class="ms-3 d-flex align-items-center doctors-list" (click)="openDoctorProfilePage(doctor)">
        <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <img src="{{doctor.profileImg}}" class="rounded-circle"></span>
        <div>
          <h4>{{doctor.name}}</h4>
        <p>{{doctor.specialization}}<br/>{{doctor.clinic}}</p>
        <div class="d-flex d-flex align-items-center" *ngIf="doctor.isPrime"><span class="prime">Prime </span> <button class="plus">PLUS</button></div>
        </div>
      </div>
      <div class="button" (click)="bookAppointmentPage(doctor)">Book</div>
  </div>
</div>
  <!-- 
    <div class="mb-4 col-sm-12">
    <div class="d-flex align-items-center justify-content-between doctors-main">
    <div class="ms-3 d-flex align-items-center doctors-list">
      <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <img src="../assets/images/my-doctors/doctor-12.jpg" class="rounded-circle"></span>
      <div>
        <h4>Dr. Tejaswini Nayaksss</h4>
      <p>Pediatrician<br/>Chinmayi Child Care Clinic</p>
      <div class="d-flex d-flex align-items-center"><span class="prime">Prime </span> <button class="plus">PLUS</button></div>
      </div>
    </div>
    <div class="button">Book</div>
</div>
<div class="d-flex align-items-center justify-content-between doctors-main">
  <div class="ms-3 d-flex align-items-center doctors-list">
    <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <img src="../assets/images/my-doctors/doctor-12.jpg" class="rounded-circle"></span>
    <div>
      <h4>Dr. Tejaswini Nayak</h4>
    <p>Pediatrician<br/>Chinmayi Child Care Clinic</p>
    <div class="d-flex d-flex align-items-center"><span class="prime">Prime </span> <button class="plus">PLUS</button></div>
    </div>
  </div>
  <div class="button">Book</div>
</div>
<div class="d-flex align-items-center justify-content-between doctors-main">
  <div class="ms-3 d-flex align-items-center doctors-list">
    <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <img src="../assets/images/my-doctors/doctor-12.jpg" class="rounded-circle"></span>
    <div>
      <h4>Dr. Tejaswini Nayak</h4>
    <p>Pediatrician<br/>Chinmayi Child Care Clinic</p>
    <div class="d-flex d-flex align-items-center"><span class="prime">Prime </span> <button class="plus">PLUS</button></div>
    </div>
  </div>
  <div class="button">Book</div>
</div>
<div class="d-flex align-items-center justify-content-between doctors-main">
  <div class="ms-3 d-flex align-items-center doctors-list">
    <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <img src="../assets/images/my-doctors/doctor-12.jpg" class="rounded-circle"></span>
    <div>
      <h4>Dr. Tejaswini Nayak</h4>
    <p>Pediatrician<br/>Chinmayi Child Care Clinic</p>
    <div class="d-flex d-flex align-items-center"><span class="prime">Prime </span> <button class="plus">PLUS</button></div>
    </div>
  </div>
  <div class="button">Book</div>
</div>
<div class="d-flex align-items-center justify-content-between doctors-main">
  <div class="ms-3 d-flex align-items-center doctors-list">
    <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <img src="../assets/images/my-doctors/doctor-12.jpg" class="rounded-circle"></span>
    <div>
      <h4>Dr. Tejaswini Nayak</h4>
    <p>Pediatrician<br/>Chinmayi Child Care Clinic</p>
    <div class="d-flex d-flex align-items-center"><span class="prime">Prime </span> <button class="plus">PLUS</button></div>
    </div>
  </div>
  <div class="button">Book</div>
</div>
</div>
 -->


  </ion-content>
