<ion-content>
    <div class="profile-main">
        <div class="title d-flex justify-content-between">
            <div>
                <label class="text-muted">Name</label>
                <p>{{profilePersonalDetails.name}}</p>
            </div>
            <div class="add-profile-img" (click)="openCamera()">
                <img  *ngIf="profilePersonalDetails.patientImage!=''" [src]="profilePersonalDetails.patientImage" alt="">
                <img  *ngIf="profilePersonalDetails.patientImage==''" src="assets/images/add-image.png" alt="">
            </div>
        </div>
        <div class="profile-list mb-4">
            <ul class="p-0">
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Contact number</label>
                    <label class="text-muted">{{profilePersonalDetails.mobile}}</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Email id</label>
                    <label class="text-muted">{{profilePersonalDetails.email}}</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Gender</label>
                    <label class="text-muted">{{profilePersonalDetails.gender}}</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Date of birth</label>
                    <label class="text-muted">{{profilePersonalDetails.dateOfBirth}}</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Blood group</label>
                    <label class="text-muted">{{profilePersonalDetails.bloodGroup}}</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Marital status</label>
                    <label class="text-muted">{{profilePersonalDetails.maritalStatus}}</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Height</label>
                    <label class="text-muted">{{profilePersonalDetails.height}}</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Weight</label>
                    <label class="text-muted">{{profilePersonalDetails.weight}}</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Emergency contact </label>
                    <label class="text-muted">{{profilePersonalDetails.emergencyContact}}</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Location</label>
                    <label class="text-muted">{{profilePersonalDetails.location}}</label>
                </li>
            </ul>
            <div class="complate-profile" (click)="openModal()">
                <div class="complate-profile-inner">
                <h4> Complete profile</h4>
                <p class="m-0">{{completeProfile}}% Completed</p>
            </div>
            </div>
        </div>
</div>


<!-- <div class="profile-main">
        <div class="title d-flex justify-content-between">
            <div>
                <label class="text-muted">Name</label>
                <p>DR. Reshu Saraogi</p>
            </div>
            <div><img  src="assets/images/speciality/img2.jpg" alt=""></div>
        </div>

        <div class="profile-list mb-4">
            <ul class="p-0">
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Contact number</label>
                    <label class="text-muted">+91 9912293800</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Email id</label>
                    <label class="text-muted">Add email</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Gender</label>
                    <label class="text-muted">Add gender</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Date of birth</label>
                    <label class="text-muted">yyyy mm dd</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Blood group</label>
                    <label class="text-muted">Add blood group</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Marital status</label>
                    <label class="text-muted">Add marital status</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Height</label>
                    <label class="text-muted">Add height</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Weight</label>
                    <label class="text-muted">Add weight</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Emergency contact </label>
                    <label class="text-muted">Emergency contact details</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Location</label>
                    <label class="text-muted">Add details</label>
                </li>
            </ul>
            <div class="complate-profile">
                <div class="complate-profile-inner">
                <h4> Complete profile</h4>
                <p class="m-0">13% Completed</p>
            </div>
            </div>
        </div>
</div> -->

</ion-content>