.add-profile-img{
    img{
        max-width: 50px;
        max-height: 50px;
    }
}

.add-profile-img img {
    border-radius: 50%;
    border: 1px solid #ccc;
    border-radius: 50%;
    border: 1px solid #ccc;
    max-width: 40px;
    max-height: 40px;
    margin: -5px 0 8px;
}