<ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button (click)="closeModal()">
            <ion-icon name="close"></ion-icon>
        </ion-button>
    </ion-buttons>
    <div class="find-searchbar">
        <form>
            <div class="form-group">
                <label><i class="fa fa-search"></i></label>
                <input type="text" class="form-control" placeholder="Search any city or locality...">
            </div>
        </form>
    </div>
</ion-toolbar>

<ion-content>

</ion-content>