/*** Hospital List Sec ***/
.hospital-list-main {width:100%; display: inline-block;}
.hospital-list-main .single-hospital-sec.item { background: #fff; padding: 15px 15px 10px 132px; position: relative; transition: all 700ms ease;
 margin: 0px 0 8px; box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.08);}
.hospital-list-main .item .icon {position: absolute;left: 10px;	top: 15px;}
.hospital-list-main .item > .icon > .icon::before {	position: absolute;	height: 65px; width: 65px; content: ""; top: -10px;
 left: 35px; border-radius: 50%;	right: 0;	margin: auto;	transition: all 0.3s ease-out;	background-image:-webkit-linear-gradient( 45deg, #fefeff30 0%, #5dcbf166 100%);}
 .hospital-list-main .item > .icon > .icon {width:80px; height:80px; ;}
 .hospital-list-main .item > .icon > .icon img {width:100%; height: 100%; display: inline-block; border-radius: 50%;}
 .hospital-list-main .item .title h3 {	margin: 5px 0px; font-size: 23px; font-weight: 600; }
.hospital-list-main .item .title h3 a {	color: #116fb5;	transition: all 700ms ease; font-size:1rem;}
.hospital-list-main .item .title h3 a:hover {	color: #c10e1a;	transition: all 700ms ease;}
.hospital-list-main .item .text p {	font-size: 16px;color: #606060;	line-height: 28px;	padding-right: 20px;}
.hospital-list-main .item .text p span {	color: #c10e1a;	font-weight: 500;	transition: all 700ms e ase;}
.hospital-list-main .item:hover .text p span {	color: #c10e1a;	transition: all 700ms ease;}
.info-detail li {width:100%; display: inline-flex; margin: 0px; padding: 0px; font-size: 0.9rem;}
.info-detail li i { margin:5px 10px 0 0;}
ul.info-detail{margin: 0;}

.doctor-image-card {
    img {
        max-height: 200px;
        height: 100%;
        width: 100%;
    }
}

.personal-details {
    position: relative;
    top: 70px;
    border-radius: 10px;
    background-color: #f0f2f8;
    .card-header {
        padding: 0;
        height: 35px;
        .header-tile {
            margin-top: 2px;
        }
    }
    ion-button {
        float: right;
        height: 16px;
        width: 48px;
        ion-icon {
            font-size: 16px;
            left: -7px;
            bottom: 5px;
        }
    }
    .card-header {
        padding: 0.3rem 0.3rem;
    }
    .personal-details-content {
        padding: 10px 5px;
        font-size: 10px;
        p {
            margin: 0px 0px 4px 0px;
        }
    }
}
footer{
    padding: 15px;
}

.doctor-reviews {
    padding: 0 0.5rem 0 0.5rem;
    .rating-div {
        display: flex;
        span {
            font-size: 25px;
        }
        app-rating {
            margin-left: 10px;
            margin-top: -11px;
        }
    }
}

.review-li {
    .image-parent {
        display: flex;
        .image-parent-image {
            max-height: 50px;
        }
        .reviewer-name {
            float: left;
            margin-left: 10px;
            line-height: 15px;
            margin-top: 11px;
            .div-rating {
                float: left;
            }
        }
        img {
            max-height: 50px;
            max-width: 50px;
            height: 100%;
            width: 100%;
            border-radius: 12%;
        }
    }
    p {
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 0px;
    }
}

.rate-write {
    padding-left: 10px;
}
.time-buttons-div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}


/*Accordian Styles*/

  
.doctors-main .rounded-circle {
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    height: 100px;
    margin-right: 10px;

}

.doctors-list h4 {
    font-size: 16px;
    margin: 0;
}

.doctors-list p {
    margin: 0px 0 10px;
    font-size: 0.9rem;
    color: #868686;
    line-height: 20px;
}

.prime{
	color: #0069b4;
	margin-right: 10px;
}
.doctor-list{
	border-bottom: 1px solid #ccc;

}
.doctors-main {
    margin: 15px 0;
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 15px;
}
.doctors-view{
    padding: 15px;
    h6, .doctors-list span {
        margin:0px;
        text-decoration: underline;
        font-weight: 600;
        font-size:0.9rem;
    }
    
}
  
ion-segment-button#segment-0 {
    text-transform: capitalize;
}
    .Practo-sec {
        padding: 0;
        border-radius: 8px;
        border:1px solid #e6e6e6;
        margin: 20px 15px;
    }
    
    .Practo-sec ul {
        padding: 0;
        list-style: none;
        margin: 0;
    }
    
    .Practo-sec h4 {
        margin: 0;
        background-color: #e5f4ff;
        font-size: 16px;
        color: #0069b4;
        padding: 15px;
        border-radius: 8px 8px 0 0;
        font-weight: normal;
    }
    
    .Practo-sec ul li {
        padding:10px 9px 5px;
        font-size: 14px;
    }
    .Practo-sec ul li i{
        color: #000000;
        margin: 7px 8px 0 0;
        font-size: 22px;}
    .Practo-sec h4 i{
        height: 2rem;
    width: 2rem;
    border-radius: 50%;
    color: #ffffff;
    background-color: #0069b4;
    display: inline-block;
    text-align: center;
    line-height: 2rem;
    font-size: 0.9rem;
    
    }
    h4.text-center.bg-none {
        background-color: transparent !important;
        border: 0;
    }
.Practo-sec.highly-sec{
    background-color: transparent;
}
.Practo-sec.highly-sec h5{
    
    font-size: 20px;
    margin: 22px 15px 5px;
    font-weight: 600;

}
.Practo-sec.highly-sec p {
    margin-left: 15px;
    font-size: 0.9rem;
}
.acc-sec p{
    margin:0px 15px 15px;
    font-size: 0.9rem;

}
.acc-sec h5 {
    font-size: 1rem;
    width: 100%;
    padding: 0 15px 15px;
    display: inline-block;
}
.acc-sec ul li {
    font-size: 14px;
    margin: 10px 0 0;
}
.review-chat {
    font-size: 14px;
    margin: 15px;
    .name {
        height: 2rem;
        width: 2rem;
        background-color: #444;
        border-radius: 50%;
        line-height: 2rem;
        text-align: center;
        color: #fff;
        margin-right: 15px;
    }
   
    button {
        border: 1px solid #ccc;
        padding: 15px 16px;
        border-radius: 6px;
        background-color: #fff;
        margin: 5px;
        font-weight: 600;
        font-size: 0.9rem;
    }
    
}
.border-bot{
    border-bottom: solid 12px #f2f2f2;
}
.grren{
    color: #01a400;
    font-size: 1.3rem;
    margin-right: 4px;
    }
    .footer-btn button {
        background-color: #3880ff;
        padding:15px;
        color: #fff;
        border-radius: 6px;
        margin: 5px;
    }
  
    .map-sec{
        padding: 15px;
        border-bottom: solid 12px #f2f2f2;
        
        .map-sec-img{
            border: 1px solid #e6e6e6;
            border-radius: 8px;
        h5{
            margin: 15px;
        }
        .map-sec img{
            width: 100%;
        }
        p{
            margin: 15px;
        }
    }
    }
    .review-chat h5 {
        font-size: 1rem;
    }