<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button *ngIf="canGoBack"></ion-back-button>
      <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
    </ion-buttons>
    <ion-title>My doctors</ion-title>
    <ion-buttons slot="end" >
      <ion-button>Edit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <div class="appointments-main m-2">
  <div>Doctors list</div>
  <ion-button (click)="openDoctorProfilePage()">View Doctor</ion-button>
  <ion-button (click)="bookAppointmentPage()">Book Appointment</ion-button>
</div> -->
        
  </ion-content>
