.medical-title {
    padding: 15px;
    background-color: #f1f0f5;
    font-size: 1rem;
}
.medical-recods-list{
    background-color: #fbfafa;
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
.medical-date{
    background-color: #f1f0f5;
    padding:10px;
    border-radius: 2px;
    h4 {
        font-size: 1.3rem;
        font-weight: 600;
        margin: 0;
        padding: 0;
    }
    h5 {
        margin: 5px 0 0;
        font-size: 1rem;
        font-weight: 300;
        color: #9a9999;
        padding: 0;
    }
}
}
.medical-news {
    background-color: #b9e2ff;
    color: #0069b4;
    text-align: center;
    margin: 5px 0;
    font-size: 1rem;
    border-radius: 2px;
}
p{
    padding: 0;
    margin: 0;
    font-size: 1rem;
}
.medical-cont{
    h5{
        padding: 0px;
        margin: 0 0 5px;
    }
}
.action-sheet-icon.sc-ion-action-sheet-md {
    margin-inline-end: 12px !important;
}