<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="canGoBack"></ion-back-button>
            <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
        </ion-buttons>
        <ion-title>Medical Records</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
<div class="m-4">
    <p>No Medical records</p>
</div>
</ion-content>
<ion-footer>
    <ion-button expand="block" (click)="openAddRecordPage()">Add a record</ion-button>
</ion-footer>