<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="canGoBack"></ion-back-button>
            <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
        </ion-buttons>
        <ion-title>Diagnostics Tests</ion-title>
    </ion-toolbar>
</ion-header>
<div class="text-left mt-2 mb-1">
    <ion-button _ngcontent-xyb-c153="" fill="clear" size="small" ng-reflect-fill="clear" ng-reflect-size="small" class="md button button-small button-clear ion-activatable ion-focusable hydrated"><ion-icon _ngcontent-xyb-c153="" slot="start" name="location-outline" ng-reflect-name="location-outline" role="img" class="md hydrated" aria-label="location outline"></ion-icon> Bengalore <ion-icon _ngcontent-xyb-c153="" slot="end" name="chevron-down-outline" ng-reflect-name="chevron-down-outline" role="img" class="md hydrated" aria-label="chevron down outline"></ion-icon></ion-button>
</div>
<ion-content>
    <ion-button expand="outline" (click)="openHealthCheckupPage()">Book Now</ion-button>
</ion-content>

