<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="canGoBack"></ion-back-button>
            <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
        </ion-buttons>
        <ion-title>Test Bookings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- booking list -->
   <div class="test-booking">
    <div class="c-package o-f-color-primary u-marginr-less">
        <a href="">
            <div style="position: relative;"><div class=""><img src="assets/images/find-docs-img.jpg" alt="Full Body Master Health Checkup Packages" class=" " loading="lazy" style="/* display: block; *//* margin: auto; *//* max-width: 100%; */width: 100%;height: 240px;">
            </div>
            <div class="package-page-img-gradient"></div>
        </div>
        <div class="u-marginrl-std-half">
            <div class="u-separator u-marginb-std-half">
                <div class="c-package-title-box u-marginb-std" data-aid="popular-health-packages-card-title">
                    <h3 class="u-font-bold u-padb-less u-margint-std-half o-font-size-0">Young Indian Health Checkup</h3>
                    <p class="o-f-color-subtle"><span>Ideal for individuals aged</span>&nbsp;<span class="u-font-bold">21 - 40 years</span></p>
                </div>
                <div class="c-package-tests u-marginb-std-half">
                    <div class="c-package-tests-details u-border-std u-padrl-std-half u-padtb-std">
                        <h4 class="o-font-size-14 u-font-bold" data-aid="package-details-tests-number">61 tests included</h4>
                    </div>
                </div>
            </div>
        </div>
    </a>
   </div>
   <footer class="c-package-footer u-marginrl-std-half u-marginb-std-half">
    <div class="c-package-footer-controls">
        <div>
            <div class="c-package-price u-font-bold">
                <span class="o-font-size-20 u-marginr-std">₹749</span>
                <s class="o-f-color-light u-marginr-std">₹1150</s>
                <span class="o-f-color-green-three">35% off</span>
            </div>
            <div class="o-flex">
                <div class=""><div class="o-f-color-green-three u-pointer">+ 10% Health cashback* T&amp;C</div>
            </div>
        </div>
    </div>
    <a href="">
        <span class="c-package-book " data-aid="m-popular-package-book">Book Now</span></a></div></footer>
   </div>
   <!-- booking list -->
   <div class="test-booking">
    <div class="c-package o-f-color-primary u-marginr-less">
        <a href="">
            <div style="position: relative;"><div class=""><img src="assets/images/find-docs-img.jpg" alt="Full Body Master Health Checkup Packages" class=" " loading="lazy" style="/* display: block; *//* margin: auto; *//* max-width: 100%; */width: 100%;height: 240px;">
            </div>
            <div class="package-page-img-gradient"></div>
        </div>
        <div class="u-marginrl-std-half">
            <div class="u-separator u-marginb-std-half">
                <div class="c-package-title-box u-marginb-std" data-aid="popular-health-packages-card-title">
                    <h3 class="u-font-bold u-padb-less u-margint-std-half o-font-size-0">Young Indian Health Checkup</h3>
                    <p class="o-f-color-subtle"><span>Ideal for individuals aged</span>&nbsp;<span class="u-font-bold">21 - 40 years</span></p>
                </div>
                <div class="c-package-tests u-marginb-std-half">
                    <div class="c-package-tests-details u-border-std u-padrl-std-half u-padtb-std">
                        <h4 class="o-font-size-14 u-font-bold" data-aid="package-details-tests-number">61 tests included</h4>
                    </div>
                </div>
            </div>
        </div>
    </a>
   </div>
   <footer class="c-package-footer u-marginrl-std-half u-marginb-std-half">
    <div class="c-package-footer-controls">
        <div>
            <div class="c-package-price u-font-bold">
                <span class="o-font-size-20 u-marginr-std">₹749</span>
                <s class="o-f-color-light u-marginr-std">₹1150</s>
                <span class="o-f-color-green-three">35% off</span>
            </div>
            <div class="o-flex">
                <div class=""><div class="o-f-color-green-three u-pointer">+ 10% Health cashback* T&amp;C</div>
            </div>
        </div>
    </div>
    <a href="">
        <span class="c-package-book " data-aid="m-popular-package-book">Book Now</span></a></div></footer>
   </div>
   <!-- booking list -->
   <div class="test-booking">
    <div class="c-package o-f-color-primary u-marginr-less">
        <a href="">
            <div style="position: relative;"><div class=""><img src="assets/images/find-docs-img.jpg" alt="Full Body Master Health Checkup Packages" class=" " loading="lazy" style="/* display: block; *//* margin: auto; *//* max-width: 100%; */width: 100%;height: 240px;">
            </div>
            <div class="package-page-img-gradient"></div>
        </div>
        <div class="u-marginrl-std-half">
            <div class="u-separator u-marginb-std-half">
                <div class="c-package-title-box u-marginb-std" data-aid="popular-health-packages-card-title">
                    <h3 class="u-font-bold u-padb-less u-margint-std-half o-font-size-0">Young Indian Health Checkup</h3>
                    <p class="o-f-color-subtle"><span>Ideal for individuals aged</span>&nbsp;<span class="u-font-bold">21 - 40 years</span></p>
                </div>
                <div class="c-package-tests u-marginb-std-half">
                    <div class="c-package-tests-details u-border-std u-padrl-std-half u-padtb-std">
                        <h4 class="o-font-size-14 u-font-bold" data-aid="package-details-tests-number">61 tests included</h4>
                    </div>
                </div>
            </div>
        </div>
    </a>
   </div>
   <footer class="c-package-footer u-marginrl-std-half u-marginb-std-half">
    <div class="c-package-footer-controls">
        <div>
            <div class="c-package-price u-font-bold">
                <span class="o-font-size-20 u-marginr-std">₹749</span>
                <s class="o-f-color-light u-marginr-std">₹1150</s>
                <span class="o-f-color-green-three">35% off</span>
            </div>
            <div class="o-flex">
                <div class=""><div class="o-f-color-green-three u-pointer">+ 10% Health cashback* T&amp;C</div>
            </div>
        </div>
    </div>
    <a href="">
        <span class="c-package-book " data-aid="m-popular-package-book">Book Now</span></a></div></footer>
   </div>
</ion-content>
