<ion-content>
    <div class="profile-main">
       
        <div class="profile-list mb-4">
            <ul class="p-0">
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Smoking habits</label>
                    <label class="text-muted">Add details</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Alcohol conumption</label>
                    <label class="text-muted">Add medications</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Activity level</label>
                    <label class="text-muted">Add details</label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Food preference</label>
                    <label class="text-muted">Add details </label>
                </li>
                <li class="d-flex justify-content-between">
                    <label class="text-muted">Occupation</label>
                    <label class="text-muted">Add details</label>
                </li>
                
               
            </ul>
            <div class="complate-profile">
                <div class="complate-profile-inner">
                <h4> Complete profile</h4>
                <p class="m-0">13% Completed</p>
            </div>
            </div>
        </div>
</div>

</ion-content>