<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button *ngIf="canGoBack"></ion-back-button>
      <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
    </ion-buttons>
    <ion-title>My Patients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Page Content -->
<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

        <!-- Profile Sidebar -->
        <div class="profile-sidebar">
          <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
              <a href="#" class="booking-doc-img">
                <img src="../assets/images/doctor-home/doctor-thumb-02.jpg" alt="User Image">
              </a>
              <div class="profile-det-info">
                <h3>Dr. Darren Elder</h3>

                <div class="patient-details">
                  <h5 class="mb-0">BDS, MDS - Oral & Maxillofacial Surgery</h5>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="dashboard-widget">
              <nav class="dashboard-menu">
                <ul>
                  <li>
                    <a href="doctor-dashboard.html">
                      <i class="fas fa-columns"></i>
                      <span>Dashboard</span>
                    </a>
                  </li>
                  <li>
                    <a href="appointments.html">
                      <i class="fas fa-calendar-check"></i>
                      <span>Appointments</span>
                    </a>
                  </li>
                  <li class="active">
                    <a href="my-patients.html">
                      <i class="fas fa-user-injured"></i>
                      <span>My Patients</span>
                    </a>
                  </li>
                  <li>
                    <a href="schedule-timings.html">
                      <i class="fas fa-hourglass-start"></i>
                      <span>Schedule Timings</span>
                    </a>
                  </li>
                  <li>
                    <a href="invoices.html">
                      <i class="fas fa-file-invoice"></i>
                      <span>Invoices</span>
                    </a>
                  </li>
                  <li>
                    <a href="reviews.html">
                      <i class="fas fa-star"></i>
                      <span>Reviews</span>
                    </a>
                  </li>
                  <li>
                    <a href="chat-doctor.html">
                      <i class="fas fa-comments"></i>
                      <span>Message</span>
                      <small class="unread-msg">23</small>
                    </a>
                  </li>
                  <li>
                    <a href="doctor-profile-settings.html">
                      <i class="fas fa-user-cog"></i>
                      <span>Profile Settings</span>
                    </a>
                  </li>
                  <li>
                    <a href="social-media.html">
                      <i class="fas fa-share-alt"></i>
                      <span>Social Media</span>
                    </a>
                  </li>
                  <li>
                    <a href="doctor-change-password.html">
                      <i class="fas fa-lock"></i>
                      <span>Change Password</span>
                    </a>
                  </li>
                  <li>
                    <a href="index-2.html">
                      <i class="fas fa-sign-out-alt"></i>
                      <span>Logout</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div> -->
        </div>
        <!-- /Profile Sidebar -->

      </div>
      <div class="col-md-7 col-lg-8 col-xl-9">

        <div class="row row-grid">
          <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
            <div class="card widget-profile pat-widget-profile">
              <div class="card-body">
                <div class="pro-widget-content">
                  <div class="profile-info-widget">
                    <a href="patient-profile.html" class="booking-doc-img">
                      <img src="../assets/images/doctor-home/patient.jpg" alt="User Image">
                    </a>
                    <div class="profile-det-info">
                      <h3><a href="patient-profile.html">Richard Wilson</a></h3>

                      <div class="patient-details">
                        <h5><b>Patient ID :</b> P0016</h5>
                        <h5 class="mb-0"><i class="fa fa-map-marker" aria-hidden="true"></i> Alabama,
                          USA</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="patient-info">
                  <ul>
                    <li>Phone <span>+1 952 001 8563</span></li>
                    <li>Age <span>38 Years, Male</span></li>
                    <li>Blood Group <span>AB+</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          

          <div class="col-md-6 col-lg-4 col-xl-3 mb-3">
            <div class="card widget-profile pat-widget-profile">
              <div class="card-body">
                <div class="pro-widget-content">
                  <div class="profile-info-widget">
                    <a href="#" class="booking-doc-img">
                      <img src="../assets/images/doctor-home/patient.jpg" alt="User Image">
                    </a>
                    <div class="profile-det-info">
                      <h3>Robert Rhodes</h3>
                      <div class="patient-details">
                        <h5><b>Patient ID :</b> PT0010</h5>
                        <h5 class="mb-0"><i class="fa fa-map-marker" aria-hidden="true"></i>
                          California, USA</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="patient-info">
                  <ul>
                    <li>Phone <span>+1 858 259 5285</span></li>
                    <li>Age <span>19 Years, Male</span></li>
                    <li>Blood Group <span>B+</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>

</div>
</ion-content>
