<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button *ngIf="canGoBack"></ion-back-button>
      <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
    </ion-buttons>
    <ion-title>My Patients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- bookings -->
<div class="mb-4 col-sm-12">
  <div class="d-flex align-items-center justify-content-between doctors-main">
      <div class="ms-3 d-flex align-items-center doctors-list" (click)="openDoctorProfilePage()">
        <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <img src="../assets/images/patient1.jpg" class="rounded-circle"></span>
        <div class="row ml-0.6">
          <div class="col-10">
            <div>
              <h4>Aswini Nayak</h4>
             <p><span class="text-dark"> 35 years, Female</span><br>
              <span class="text-dark">Hyderabad</span>
            </p>
            </div>    
          </div>
          <div class="col-2">
            <ion-button fill="clear">
              <ion-icon  name="call-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
        
      </div>
      <!-- <div  class="button">Today <br /> 11 AM</div> -->
  </div>
  <div class="d-flex align-items-center justify-content-between doctors-main">
    <div class="ms-3 d-flex align-items-center doctors-list" (click)="openDoctorProfilePage()">
      <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <img src="../assets/images/patient1.jpg" class="rounded-circle"></span>
      <div class="row ml-0.6">
        <div class="col-10">
          <div>
            <h4>Aswini Nayak</h4>
           <p><span class="text-dark"> 35 years, Female</span><br>
            <span class="text-dark">Hyderabad</span>
          </p>
          </div>    
        </div>
        <div class="col-2">
          <ion-button fill="clear">
            <ion-icon  name="call-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      
    </div>
    <!-- <div  class="button">Today <br /> 11 AM</div> -->
</div>
<div class="d-flex align-items-center justify-content-between doctors-main">
  <div class="ms-3 d-flex align-items-center doctors-list" (click)="openDoctorProfilePage()">
    <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <img src="../assets/images/patient1.jpg" class="rounded-circle"></span>
    <div class="row ml-0.6">
      <div class="col-10">
        <div>
          <h4>Aswini Nayak</h4>
         <p><span class="text-dark"> 35 years, Female</span><br>
          <span class="text-dark">Hyderabad</span>
        </p>
        </div>    
      </div>
      <div class="col-2">
        <ion-button fill="clear">
          <ion-icon  name="call-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
    
  </div>
  <!-- <div  class="button">Today <br /> 11 AM</div> -->
</div>
<div class="d-flex align-items-center justify-content-between doctors-main">
  <div class="ms-3 d-flex align-items-center doctors-list" (click)="openDoctorProfilePage()">
    <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <img src="../assets/images/patient1.jpg" class="rounded-circle"></span>
    <div class="row ml-0.6">
      <div class="col-10">
        <div>
          <h4>Aswini Nayak</h4>
         <p><span class="text-dark"> 35 years, Female</span><br>
          <span class="text-dark">Hyderabad</span>
        </p>
        </div>    
      </div>
      <div class="col-2">
        <ion-button style="vertical-align: middle;" fill="clear">
          <ion-icon  name="call-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
    
  </div>
  <!-- <div  class="button">Today <br /> 11 AM</div> -->
</div>
<div class="d-flex align-items-center justify-content-between doctors-main">
  <div class="ms-3 d-flex align-items-center doctors-list" (click)="openDoctorProfilePage()">
    <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <img src="../assets/images/patient1.jpg" class="rounded-circle"></span>
    <div class="row ml-0.6">
      <div class="col-10">
        <div>
          <h4>Aswini Nayak</h4>
         <p><span class="text-dark"> 35 years, Female</span><br>
          <span class="text-dark">Hyderabad</span>
        </p>
        </div>    
      </div>
      <div class="col-2">
        <ion-button fill="clear">
          <ion-icon  name="call-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
    
  </div>
  <!-- <div  class="button">Today <br /> 11 AM</div> -->
</div>


</div>

</ion-content>
