<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <!-- <ion-buttons slot="end" (click)="openNotificationsPage()">
      <ion-icon style="font-size: 30px;margin-right:10px;color:#5e7ccc;" name="notifications-circle-outline"></ion-icon>
    </ion-buttons> -->
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="p-1">
        <div class="upcomming-appointment-div" (click)="openAppointment()">
            <ion-row>
                <ion-col size="3" class="ion-padding-5">
                    <img class="card-avatar-image" src="assets/profile/doctor-2.jfif" />
                </ion-col>
                <ion-col size="9" class="padding-5 ion-no-margin">
                    <div class="up-appointment-text">
                        <ion-card-content class="no-padding">
                            <ion-card-title>
                                <ion-label class="small">Upcomming Appointment</ion-label>
                            </ion-card-title>
                            <ion-label class="small">Dr. Seema Vazeer</ion-label><br>
                            <ion-label class="small">2:30 PM, Central Hospital</ion-label>
                        </ion-card-content>
                    </div>
                </ion-col>
                <!-- <ion-col size="2" class="padding-5 ion-no-margin">
                <ion-card-content class="no-padding">
                    <ion-button fill="clear" (click)="openAppointment()">
                        <ion-icon color="danger" class="font-size-35" slot="icon-only" name="notifications-circle-outline"></ion-icon>
                    </ion-button>
                </ion-card-content>
            </ion-col> -->
            </ion-row>
        </div>
        <div class="what-looking-for-div">
            <div class="pt-2">
                <ion-label class="font-size-15">What you are looking for?</ion-label>
            </div>
            <ul class="list-group">
                <li class="list-group-item justify-content-between align-items-center p-2 review-li" (click)="openBookAppointmentPage()">
                    <div class="image-parent">
                        <img src="https://image.shutterstock.com/image-vector/blue-alarm-clock-icon-isolated-600w-1507433870.jpg" class="img-fluid" alt="quixote">
                        <div class="reviewer-name">
                            <div>
                                <ion-label class="label-style">Book Appointment</ion-label>
                            </div>
                            <div>
                                <ion-label class="small"> 6 Doctors Available</ion-label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <ion-icon color="secondary" name="chevron-forward-outline"></ion-icon>
                    </div>
                </li>
                <li class="list-group-item justify-content-between align-items-center p-2 review-li" (click)="openLabReportsPage()">
                    <div class="image-parent">
                        <div class="image-parent-image">
                            <img src="https://decenthl.com/wp-content/uploads/2020/12/labTest.png" class="img-fluid" alt="quixote">
                        </div>
                        <div class="reviewer-name">
                            <div>
                                <ion-label class="label-style">Lab Tests at Home</ion-label>
                            </div>
                            <div>
                                <ion-label class="small">92 Diagnostics are available</ion-label>
                            </div>
                        </div>

                    </div>
                    <div>
                        <ion-icon color="secondary" name="chevron-forward-outline"></ion-icon>
                    </div>
                </li>
                <li class="list-group-item justify-content-between align-items-center p-2 review-li" (click)="openChattingPage()">
                    <div class="image-parent">
                        <img src="https://png.pngtree.com/element_our/png_detail/20181229/vector-chat-icon-png_302635.jpg" class="img-fluid" alt="quixote">
                        <div class="reviewer-name">
                            <div>
                                <ion-label class="label-style">Online Health Consultant</ion-label>
                            </div>
                            <div>
                                <ion-label class="small">+12 Consultants</ion-label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <ion-icon color="secondary" name="chevron-forward-outline"></ion-icon>
                    </div>
                </li>
            </ul>
        </div>
        <div class="grid-find-doctors">
            <div class="row m-0">
                <div class="col-6 p-1" col-xl-2 col-lg-3 col-md-4>
                    <div class="card m-0" (click)="openDoctorsPage()">
                        <img class="card-img-top" src="https://wp02-media.cdn.ihealthspot.com/wp-content/uploads/sites/68/2017/08/02210448/smiling-doctor-standing-arms-crossed-in-front-of-medical-team-picture-id503524567-1.jpg" alt="Card image cap">
                        <div class="card-body find-doctors-card-text">
                            <h5 class="card-title">Find Doctors Near You</h5>
                            <h6 class="card-text">Book video or in-clinic appointments</h6>
                        </div>
                    </div>
                </div>
                <div class="col-6 p-1" col-xl-2 col-lg-3 col-md-4>
                    <div class="card m-0" (click)="openDoctorConsultationPage()">
                        <img class="card-img-top" src="https://ayurvedaglobe.com/wp-content/uploads/2020/04/iStock_24963928_SMALL-20160706104547180.jpg" alt="Card image cap">
                        <div class="card-body find-doctors-card-text">
                            <h5 class="card-title">Consult a doctor</h5>
                            <h6 class="card-text">Connect with experienced doctors in 60 sec</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>