<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button *ngIf="canGoBack"></ion-back-button>
      <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
    </ion-buttons>
    <ion-title>Find Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="find-searchbar">
    <form>
        <div class="form-group">
            <label><i class="fa fa-search"></i></label>
            <input type="text" class="form-control" name="searchinput" [ngModel]="searchText" (ngModelChange)="onPercentChange($event)" placeholder="Search services etc...">
        </div>
    </form>
</div>

<ion-list lines="full" *ngIf="showContent">
  <ion-item (click)="openDoctorsListPage(speciality)" *ngFor="let disease of diseases" (click)="openDoctorsListPage(disease)">
    <ion-avatar class="avatar-img" slot="start">
      <img [src]="disease.image" />
    </ion-avatar>
    <ion-label>{{disease.name}}</ion-label>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-item>
</ion-list>

<ion-list lines="full" *ngIf="!showContent">
  <ion-item *ngFor="let i of [].constructor(10)">
    <ion-avatar slot="start">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-avatar>
    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
  </ion-item>
</ion-list>
</ion-content>
