<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="canGoBack"></ion-back-button>
            <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
        </ion-buttons>
        <ion-title>Clinic.kwt Plus</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="clinic-pro-sec-main">
        <div class="clinic-banner">'
            <span>Plus</span>
            <h1 class="mt-0">Unlimited online doctor consultation with all specialities</h1>
            <div class="pricing-sec">
                <div class="container">
                    <div class="row">
                  <div class="col-6 px-0">
                   <!-- Single pricing table Start -->
                    <div class="pricing-table pricing-table-agency mr-3px">
                    <div class="pricing-table-header">
                      <h5>1 MONTH PLAN</h5>
                      <p> <s>29.99</s></p>
                      <p class="pricing">$9.99<small>month</small></p>
                      <p class="save">Save 73%</p>
                    </div>
                    <div class="pricing-table-body">
                      <ul>
                        <li>Billed Every 1 month</li>
                      </ul>
                    </div>
                       </div>
                        </div>
                        <div class="col-6 px-0">
                            <!-- Single pricing table Start -->
                             <div class="pricing-table pricing-table-agency ml-3px">
                                <span class="pricing-table-featured-label"><span>Popular</span></span>
                             <div class="pricing-table-header">
                               <h5>3 MONTHs PLAN</h5>
                               <p> <s>59.99</s></p>
                               <p class="pricing">$28<small>3 months</small></p>
                               <p class="save">Save 73%</p>
                             </div>
                             <div class="pricing-table-body">
                               <ul>
                                 <li>Billed Every 3 months</li>
                               </ul>
                             </div>
                                </div>
                                 </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Single pricing table end -->
    <!-- Clinic ratings Sec  -->
<div class="clinic-ratings-sec">
    <h2 class="mt-0">Trusted by 2 crore+ users every month</h2>
    <div class="normal-txt">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    </div>
    <div class="user-ratings-sec">
      <div class="d-flex">
        <div class="user-ratings-sec-left">
          <span class="heading">4.5</span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star checked"></span>
  <span class="fa fa-star-half-o checked"></span>
  <small>1000k + reviews.</small>
        </div>
        <div class="user-ratings-sec-right ml-auto">
          <div class="side-sec">
            <div class="side">
              <div>5</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-5"></div>
              </div>
            </div>
          </div>
          <div class="side-sec">
            <div class="side">
              <div>4</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-4"></div>
              </div>
            </div>
          </div>
          <div class="side-sec">
            <div class="side">
              <div>3</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-3"></div>
              </div>
            </div>
            </div>
            <div class="side-sec">
              <div class="side">
              <div>2</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-2"></div>
              </div>
            </div>
          </div>
          <div class="side-sec">
            <div class="side">
              <div>1</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-1"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="numbering-sec">
      <div class="container px-0">
        <div class="row">
        <div class="col-6">
          <!-- Single Number Sec  -->
          <div class="single-number-sec">
            <div class="icon"><i class="fa fa-user"></i></div>
            <h4>2 Crore +</h4>
            <p>Monthly Customers</p>
          </div>
        </div>
        <div class="col-6">
          <!-- Single Number Sec  -->
          <div class="single-number-sec">
            <div class="icon"><i class="fa fa-user"></i></div>
            <h4>2 Crore +</h4>
            <p>Monthly Customers</p>
          </div>
        </div>
        <div class="col-6">
          <!-- Single Number Sec  -->
          <div class="single-number-sec">
            <div class="icon"><i class="fa fa-user"></i></div>
            <h4>2 Crore +</h4>
            <p>Monthly Customers</p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Clinic Doctor Consultation Sec  -->
<div class="clinic-pro-doctor-consultaiton-sec">
    <div class="clinic-pro-doctor-consultaiton-sec-list">
      <h4>How does online doctor consultation work?</h4>
      <ol>
        <li>What is Lorem Ipsum?</li>
        <li>Why do we use it?</li>
        <li>Where does it come from?</li>
      </ol>
    </div>
    <div class="clinic-pro-testimonials-sec">
        <h2>Why people love<br/> Clinic <span>Plus</span></h2>
        <div class="single-testimonials-sec">
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante, commodo iacul viverra.</div>
          <div class="testi-item d-flex align-items-center"> <img src="../assets/images/testi-1.jpg" alt="" >
            <div class="testi-content">
              <h3>John Doe</h3>
              <span>Clinic KWT Plus Plan User </span> </div>
             </div>
        </div>
        <div class="single-testimonials-sec">
          <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante, commodo iacul viverra.</div>
          <div class="testi-item d-flex align-items-center"> <img src="../assets/images/testi-1.jpg" alt="" >
            <div class="testi-content">
              <h3>John Doe</h3>
              <span>Clinic KWT Plus Plan User </span> </div>
             </div>
        </div>
    </div>
  </div>
  <!-- Frequently Asked Questions -->
  <div class="frequently-sec">
      <h2>Frequently Asked Questions</h2>
       <ion-list>
                    <div>
                        <ion-item data-toggle="collapse" data-target="#faq1" aria-expanded="true" aria-controls="faq1">
                            <ion-label><strong>Specializations</strong></ion-label>
                            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
                        </ion-item>
                        <div id="faq1" class="collapse hide" aria-labelledby="faqhead1" data-parent="#faq">
                            <ul>
                                <li>Oral and maxilloFacial Surgeon</li>
                                <li>Implantologist</li>
                                <li>Hair Transplant Surgoen</li>
                            </ul>
                        </div>
                    </div>
                    <ion-item data-toggle="collapse" data-target="#faq2" aria-expanded="true" aria-controls="faq2">
                        <ion-label><strong>Education</strong></ion-label>
                        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
                    </ion-item>
                    <div id="faq2" class="collapse hide" aria-labelledby="faqhead1" data-parent="#faq">
                        <ul>
                            <li>BDS - Ragiv Gandhi University of Health Sciences, Bengalore, India -2009</li>
                            <li>MDS - Oral & Maxillofacial Surgery - Vydehi Institute Of Dental Sciences Research -2015</li>

                        </ul>
                    </div>
                    <ion-item data-toggle="collapse" data-target="#faq3" aria-expanded="true" aria-controls="faq3">
                        <ion-label><strong>Experience</strong></ion-label>
                        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
                    </ion-item>
                    <div id="faq3" class="collapse hide" aria-labelledby="faqhead1" data-parent="#faq">
                        <ul>
                            <li>2010 - 2012 Senior Dental Surgeon at 32 Smiles Dental Clinic</li>
                            <li>2012 -2015 Oral Surgeon at Vydehi Dental Hospital</li>

                        </ul>
                    </div>
                    <ion-item data-toggle="collapse" data-target="#faq4" aria-expanded="true" aria-controls="faq4">
                        <ion-label><strong>Registration</strong></ion-label>
                        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
                    </ion-item>
                    <div id="faq4" class="collapse hide" aria-labelledby="faqhead1" data-parent="#faq">
                        <ul>
                            <li>26101-A Karnataka State Dental Council, 2010</li>
                        </ul>
                    </div>
                </ion-list>
  </div>
</ion-content>