<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button *ngIf="canGoBack"></ion-back-button>
      <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
    </ion-buttons>
    <ion-title>Help Center</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header lines="full">
      <ion-label>I have an issue with</ion-label>
    </ion-list-header>
      <ion-item>
        <ion-label>Booking a new appointment</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Existing appointment</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Feedbacks</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Dignostic Tests</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Other issues</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>
    
  </ion-list>
</ion-content>
