<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="canGoBack"></ion-back-button>
            <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
        </ion-buttons>
        <ion-title>Appointment Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

<div class="container">
    <div class="modal-content">
        <div class="modal-body">
            <ul class="info-details">
                <li>
                    <div class="details-header">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="title">#APT0001</span>
                                <span class="text">21 Oct 2019 10:00 AM</span>
                            </div>
                            <div class="col-md-6">
                                <div class="text-right">
                                    <button type="button" class="btn bg-success-light btn-sm" id="topup_status">Completed</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <span class="title">Status:</span>
                    <span class="text">Completed</span>
                </li>
                <li>
                    <span class="title">Confirm Date:</span>
                    <span class="text">29 Jun 2019</span>
                </li>
                <li>
                    <span class="title">Paid Amount</span>
                    <span class="text">$450</span>
                </li>
            </ul>
        </div>
    </div>
</div>

</ion-content>