<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="canGoBack"></ion-back-button>
            <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
        </ion-buttons>
        <ion-title>Appointment Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

<div class="container">
    <ion-button (click)="openGoogleMap()">Get Directions</ion-button>
    <ion-button (click)="openDoctorTimeSlotPage()">Reschedule Appointment</ion-button>
    <ion-button (click)="cancelAppointment()">Cancel Appointment</ion-button>
</div>

</ion-content>