
.hospital-list-main {width:100%; display: inline-block;}
.hospital-list-main .single-hospital-sec.item { background: #fff; padding: 15px 15px 10px 132px; position: relative; transition: all 700ms ease;
 margin: 0px 0 8px; box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.08);}
.hospital-list-main .item .icon {position: absolute;left: 10px;	top: 15px;}
.hospital-list-main .item > .icon > .icon::before {	position: absolute;	height: 65px; width: 65px; content: ""; top: -10px;
 left: 35px; border-radius: 50%;	right: 0;	margin: auto;	transition: all 0.3s ease-out;	background-image:-webkit-linear-gradient( 45deg, #fefeff30 0%, #5dcbf166 100%);}
 .hospital-list-main .item > .icon > .icon {width:80px; height:80px; ;}
 .hospital-list-main .item > .icon > .icon img {width:100%; height: 100%; display: inline-block; border-radius: 50%;}
 .hospital-list-main .item .title h3 {	margin: 5px 0px; font-size: 23px; font-weight: 600; }
.hospital-list-main .item .title h3 a {	transition: all 700ms ease;font-size: 1rem;color: #212121;font-weight: 500;text-align: left;margin: 0;}
.hospital-list-main .item .title h3 a:hover {	color: #c10e1a;	transition: all 700ms ease;}
.hospital-list-main .item .text p {	font-size: 16px;color: #606060;	line-height: 28px;	padding-right: 20px;}
.hospital-list-main .item .text p span {	color: #c10e1a;	font-weight: 500;	transition: all 700ms e ase;}
.hospital-list-main .item:hover .text p span {	color: #c10e1a;	transition: all 700ms ease;}
.info-detail li {width: 100%;display: inline-flex;padding: 0px;font-size: 0.9rem;color: #787878;font-weight: 400;text-align: left;margin: 0;}
.info-detail li i { margin:5px 10px 0 0;}
ul.info-detail{margin: 0;}
.content-finddoc-page {margin: 0;padding: 0;}
.find-topbar {
    background: #0069b3;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.find-topbar i {
    color: #ffffff;
    margin-top: 10px;
}

.find-topbar h3 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
    padding-left: 15px;
}

.find-topbar ion-title {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
    padding-left: 15px;
}

.find-topbar p {
    color: #ffffff;
    font-size: 11px;
    font-weight: 600;
    margin: 0;
    text-align: right;
}

.find-topbar form {
    float: right;
    line-height: 10px;
}

.find-topbar form select {
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    text-align: right;
    border: none;
    background: #0069b3;
}


.looking-search {
    border: solid 1px #53a6e0;
    border-radius: 5px;
    margin: 20px 0;
    padding: 12px 0;
    color: #0069b3;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    display: inline-block;
}