<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="canGoBack"></ion-back-button>
            <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
        </ion-buttons>
        <div class="find-topbar">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ion-title>Find Hospital</ion-title>
                    </div>
                    <div class="col">
                        <p>LOCATION</p>
                        <form>
                            <select>
                                <option>Banglore</option>
                                <option>Hyderabad</option>
                                <option>Delhi</option>
                                <option>Mumbai</option>
                                <option>Pune</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="content-finddoc-page">
        <div class="find-searchbar">
            <form>
                <div class="form-group">
                    <label><i class="fa fa-search"></i></label>
                    <input type="text" class="form-control" placeholder="Search hospitals, specialities etc...">
                </div>
            </form>
        </div>
    </div>
    <div class="hospital-list-main">
    <div class="single-hospital-sec item" (click)="openHospitalPage()">
        <div class="icon">
            <div class="icon"><img  src="../assets/images/hospital/hospital-img.jpg" alt=""></div>
          </div>
          <div class="title">
            <h3><a href="javascript:void(0)">Strategy &amp; Research</a></h3>
            <div class="text">
                <ul class="info-detail p-0">
                    <li><i class="fa fa-phone" aria-hidden="true"></i>+1 (800) 581 3645 11</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i>sola.seo@mail.com</li>
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>28 Green Tower, Street Name, New York</li>
                </ul>
              </div>
          </div>
      
    </div>
    <div class="single-hospital-sec item">
      <div class="icon">
          <div class="icon"><img  src="../assets/images/hospital/hospital-img.jpg" alt=""></div>
        </div>
        <div class="title">
          <h3><a href="javascript:void(0)">Strategy &amp; Research</a></h3>
          <div class="text">
            <ul class="info-detail p-0">
                <li><i class="fa fa-phone" aria-hidden="true"></i>+1 (800) 581 3645 11</li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i>sola.seo@mail.com</li>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>28 Green Tower, Street Name, New York</li>
            </ul>
          </div>
        </div>
  </div>
  <div class="single-hospital-sec item">
    <div class="icon">
        <div class="icon"><img  src="../assets/images/hospital/hospital-img.jpg" alt=""></div>
      </div>
      <div class="title">
        <h3><a href="javascript:void(0)">Strategy &amp; Research</a></h3>
        <div class="text">
            <ul class="info-detail p-0">
                <li><i class="fa fa-phone" aria-hidden="true"></i>+1 (800) 581 3645 11</li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i>sola.seo@mail.com</li>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>28 Green Tower, Street Name, New York</li>
            </ul>
          </div>
      </div>
  
</div>
<div class="single-hospital-sec item">
    <div class="icon">
        <div class="icon"><img  src="../assets/images/hospital/hospital-img.jpg" alt=""></div>
      </div>
      <div class="title">
        <h3><a href="javascript:void(0)">Strategy &amp; Research</a></h3>
        <div class="text">
            <ul class="info-detail p-0">
                <li><i class="fa fa-phone" aria-hidden="true"></i>+1 (800) 581 3645 11</li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i>sola.seo@mail.com</li>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>28 Green Tower, Street Name, New York</li>
            </ul>
          </div>
      </div>
  
</div>
<div class="single-hospital-sec item">
  <div class="icon">
      <div class="icon"><img  src="../assets/images/hospital/hospital-img.jpg" alt=""></div>
    </div>
    <div class="title">
      <h3><a href="javascript:void(0)">Strategy &amp; Research</a></h3>
      <div class="text">
        <ul class="info-detail p-0">
            <li><i class="fa fa-phone" aria-hidden="true"></i>+1 (800) 581 3645 11</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i>sola.seo@mail.com</li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>28 Green Tower, Street Name, New York</li>
        </ul>
      </div>
    </div>
</div>
<div class="single-hospital-sec item">
<div class="icon">
    <div class="icon"><img  src="../assets/images/hospital/hospital-img.jpg" alt=""></div>
  </div>
  <div class="title">
    <h3><a href="javascript:void(0)">Strategy &amp; Research</a></h3>
    <div class="text">
        <ul class="info-detail p-0">
            <li><i class="fa fa-phone" aria-hidden="true"></i>+1 (800) 581 3645 11</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i>sola.seo@mail.com</li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>28 Green Tower, Street Name, New York</li>
        </ul>
      </div>
  </div>

</div>
<div class="single-hospital-sec item">
    <div class="icon">
        <div class="icon"><img  src="../assets/images/hospital/hospital-img.jpg" alt=""></div>
      </div>
      <div class="title">
        <h3><a href="javascript:void(0)">Strategy &amp; Research</a></h3>
        <div class="text">
            <ul class="info-detail p-0">
                <li><i class="fa fa-phone" aria-hidden="true"></i>+1 (800) 581 3645 11</li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i>sola.seo@mail.com</li>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>28 Green Tower, Street Name, New York</li>
            </ul>
          </div>
      </div>
  
</div>
<div class="single-hospital-sec item">
  <div class="icon">
      <div class="icon"><img  src="../assets/images/hospital/hospital-img.jpg" alt=""></div>
    </div>
    <div class="title">
      <h3><a href="javascript:void(0)">Strategy &amp; Research</a></h3>
      <div class="text">
        <ul class="info-detail p-0">
            <li><i class="fa fa-phone" aria-hidden="true"></i>+1 (800) 581 3645 11</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i>sola.seo@mail.com</li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>28 Green Tower, Street Name, New York</li>
        </ul>
      </div>
    </div>
</div>
<div class="single-hospital-sec item">
<div class="icon">
    <div class="icon"><img  src="../assets/images/hospital/hospital-img.jpg" alt=""></div>
  </div>
  <div class="title">
    <h3><a href="javascript:void(0)">Strategy &amp; Research</a></h3>
    <div class="text">
        <ul class="info-detail p-0">
            <li><i class="fa fa-phone" aria-hidden="true"></i>+1 (800) 581 3645 11</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i>sola.seo@mail.com</li>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>28 Green Tower, Street Name, New York</li>
        </ul>
      </div>
  </div>

</div>
</div>

    
</ion-content>