<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="canGoBack"></ion-back-button>
            <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
        </ion-buttons>

        <ion-title>Hospitals</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="card p-1 doctor-card">
        <div class="row no-gutters">
            <div class="col-3" (click)="openDoctorViewPage()">
                <img src="assets/images/hospitals/hospital1.jpg" class="doctor-image" alt="">
            </div>
            <div class="col-8 doctor-details mt-2">
                <div class="card-block px-2">
                    <p class="card-text">Kuwait Best Hospital1 </p>
                    <h6 class="card-text mt-1">ABCDEF</h6>
                    <app-rating fontSize="20" class="doctor-rating"></app-rating>
                    <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
                </div>
            </div>

            <div class="col-1 doctor-more-btn">
                <ion-icon color="secondary" name="ellipsis-vertical-outline"></ion-icon>
            </div>
        </div>
    </div>
    <div class="card p-1 doctor-card">
        <div class="row no-gutters">
            <div class="col-3">
                <img src="assets/images/hospitals/hospital2.jpg" class="doctor-image" alt="">
            </div>
            <div class="col-8 doctor-details mt-2">
                <div class="card-block px-2">
                    <p class="card-text">Kuwait Best Hospital2 </p>
                    <h6 class="card-text mt-1">ABCDEF</h6>
                    <app-rating fontSize="20" class="doctor-rating"></app-rating>
                    <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
                </div>
            </div>
            <div class="col-1 doctor-more-btn">
                <ion-icon color="secondary" name="ellipsis-vertical-outline"></ion-icon>
            </div>
        </div>
    </div>
    <div class="card p-1 doctor-card">
        <div class="row no-gutters">
            <div class="col-3">
                <img src="assets/images/hospitals/hospital3.jpg" class="doctor-image" alt="">
            </div>
            <div class="col-8 doctor-details mt-2">
                <div class="card-block px-2">
                    <p class="card-text">Kuwait Best Hospital3 </p>
                    <h6 class="card-text mt-1">ABCDEF</h6>
                    <app-rating fontSize="20" class="doctor-rating"></app-rating>
                    <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
                </div>
            </div>
            <div class="col-1 doctor-more-btn">
                <ion-icon color="secondary" name="ellipsis-vertical-outline"></ion-icon>
            </div>
        </div>
    </div>
    <div class="card p-1 doctor-card">
        <div class="row no-gutters">
            <div class="col-3">
                <img src="assets/images/hospitals/hospital1.jpg" class="doctor-image" alt="">
            </div>
            <div class="col-8 doctor-details mt-2">
                <div class="card-block px-2">
                    <p class="card-text">Kuwait Best Hospital4 </p>
                    <h6 class="card-text mt-1">ABCDEF</h6>
                    <app-rating fontSize="20" class="doctor-rating"></app-rating>
                    <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
                </div>
            </div>
            <div class="col-1 doctor-more-btn">
                <ion-icon color="secondary" name="ellipsis-vertical-outline"></ion-icon>
            </div>
        </div>
    </div>
    <div class="card p-1 doctor-card">
        <div class="row no-gutters">
            <div class="col-3">
                <img src="assets/images/hospitals/hospital2.jpg" class="doctor-image" alt="">
            </div>
            <div class="col-8 doctor-details mt-2">
                <div class="card-block px-2">
                    <p class="card-text">Kuwait Best Hospital5 </p>
                    <h6 class="card-text mt-1">ABCDEF</h6>
                    <app-rating fontSize="20" class="doctor-rating"></app-rating>
                    <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
                </div>
            </div>
            <div class="col-1 doctor-more-btn">
                <ion-icon color="secondary" name="ellipsis-vertical-outline"></ion-icon>
            </div>
        </div>
    </div>
    <div class="card p-1 doctor-card">
        <div class="row no-gutters">
            <div class="col-3">
                <img src="assets/images/hospitals/hospital3.jpg" class="doctor-image" alt="">
            </div>
            <div class="col-8 doctor-details mt-2">
                <div class="card-block px-2">
                    <p class="card-text">Kuwait Best Hospital6 </p>
                    <h6 class="card-text mt-1">ABCDEF</h6>
                    <app-rating fontSize="20" class="doctor-rating"></app-rating>
                    <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
                </div>
            </div>
            <div class="col-1 doctor-more-btn">
                <ion-icon color="secondary" name="ellipsis-vertical-outline"></ion-icon>
            </div>
        </div>
    </div>
    <div class="card p-1 doctor-card">
        <div class="row no-gutters">
            <div class="col-3">
                <img src="assets/images/hospitals/hospital1.jpg" class="doctor-image" alt="">
            </div>
            <div class="col-8 doctor-details mt-2">
                <div class="card-block px-2">
                    <p class="card-text">Kuwait Best Hospital7 </p>
                    <h6 class="card-text mt-1">ABCDEF</h6>
                    <app-rating fontSize="20" class="doctor-rating"></app-rating>
                    <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
                </div>
            </div>
            <div class="col-1 doctor-more-btn">
                <ion-icon color="secondary" name="ellipsis-vertical-outline"></ion-icon>
            </div>
        </div>
    </div>
    <div class="card p-1 doctor-card">
        <div class="row no-gutters">
            <div class="col-3">
                <img src="assets/images/hospitals/hospital2.jpg" class="doctor-image" alt="">
            </div>
            <div class="col-8 doctor-details mt-2">
                <div class="card-block px-2">
                    <p class="card-text">Kuwait Best Hospital8 </p>
                    <h6 class="card-text mt-1">ABCDEF</h6>
                    <app-rating fontSize="20" class="doctor-rating"></app-rating>
                    <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
                </div>
            </div>
            <div class="col-1 doctor-more-btn">
                <ion-icon color="secondary" name="ellipsis-vertical-outline"></ion-icon>
            </div>
        </div>
    </div>
    <div class="card p-1 doctor-card">
        <div class="row no-gutters">
            <div class="col-3">
                <img src="assets/images/hospitals/hospital3.jpg" class="doctor-image" alt="">
            </div>
            <div class="col-8 doctor-details mt-2">
                <div class="card-block px-2">
                    <p class="card-text">Kuwait Best Hospital9 </p>
                    <h6 class="card-text mt-1">ABCDEF</h6>
                    <app-rating fontSize="20" class="doctor-rating"></app-rating>
                    <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
                </div>
            </div>
            <div class="col-1 doctor-more-btn">
                <ion-icon color="secondary" name="ellipsis-vertical-outline"></ion-icon>
            </div>
        </div>
    </div>
</ion-content>