<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button *ngIf="canGoBack"></ion-back-button>
            <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
        </ion-buttons>
        <ion-title>Zahra ENT Hospital</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="hospital-list-main">
        <ion-slides class="slider-images" pager="true" [options]="slideOpts">
            <ion-slide>
                <div class="icon"><img src="../assets/images/hospital/hospital-img.jpg" alt=""></div>
            </ion-slide>
            <ion-slide>
                <div class="icon"><img src="../../assets/images/hospital/hospital-profile-2.jpeg" alt=""></div>
            </ion-slide>
            <ion-slide>
                <div class="icon"><img src="../../assets/images/hospital/hospital-profile-3.jpeg" alt=""></div>
            </ion-slide>
        </ion-slides>


        <!-- Doctors List-->
        <div class="container">
            <div class="brand-wrapper docs-nearyou">
                <div class="sec-title text-center mb-0">
                    <h2>Available Doctors</h2>
                    <p>Book assured appointments even during the COVID-19 pandemic</p>
                    <span class="decor"><span class="inner"></span></span>
                </div>
                <div class="row ">
                    <div class="col-sm-12 pb-2">
                        <ion-slides pager="true" [options]="doctorsSlideOpts">
                            <ion-slide class="pb-3">
                                <div class="item" (click)="openDoctorProfilePage()">
                                    <a target="_blank">
                                        <div class="doc-img">
                                            <img src="assets/images/doctors/img1.jpg" alt="" title="">
                                        </div>
                                        <div class="doc-details">
                                            <h3>Dr.James Adult</h3>
                                            <p>Geriatrician<span>HSR Layout</span></p>
                                            <h6><i class="fa fa-thumbs-up" aria-hidden="true"></i>96% . 18 Years Exp</h6>
                                        </div>
                                    </a>
                                    <a target="_blank">
                                        <div class="doc-img">
                                            <img src="assets/images/doctors/img2.jpg" alt="" title="">
                                        </div>
                                        <div class="doc-details">
                                            <h3>Dr.James Alison</h3>
                                            <p>Geriatrician<span>HSR Layout</span></p>
                                            <h6><i class="fa fa-thumbs-up" aria-hidden="true"></i>80% . 19 Years Exp</h6>
                                        </div>
                                    </a>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div class="item" (click)="openDoctorProfilePage()">
                                    <a target="_blank">
                                        <div class="doc-img">
                                            <img src="assets/images/doctors/img1.jpg" alt="" title="">
                                        </div>
                                        <div class="doc-details">
                                            <h3>Dr.James Adult</h3>
                                            <p>Geriatrician<span>HSR Layout</span></p>
                                            <h6><i class="fa fa-thumbs-up" aria-hidden="true"></i>96% . 18 Years Exp</h6>
                                        </div>
                                    </a>
                                    <a target="_blank">
                                        <div class="doc-img">
                                            <img src="assets/images/doctors/img2.jpg" alt="" title="">
                                        </div>
                                        <div class="doc-details">
                                            <h3>Dr.James Alison</h3>
                                            <p>Geriatrician<span>HSR Layout</span></p>
                                            <h6><i class="fa fa-thumbs-up" aria-hidden="true"></i>80% . 19 Years Exp</h6>
                                        </div>
                                    </a>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div class="item" (click)="openDoctorProfilePage()">
                                    <a target="_blank">
                                        <div class="doc-img">
                                            <img src="assets/images/doctors/img3.jpg" alt="" title="">
                                        </div>
                                        <div class="doc-details">
                                            <h3>Dr.Sharat Honnat</h3>
                                            <p>Geriatrician<span>HSR Layout</span></p>
                                            <h6><i class="fa fa-thumbs-up" aria-hidden="true"></i>96% . 18 Years Exp</h6>
                                        </div>
                                    </a>
                                    <a target="_blank">
                                        <div class="doc-img">
                                            <img src="assets/images/doctors/img4.jpg" alt="" title="">
                                        </div>
                                        <div class="doc-details">
                                            <h3>Dr.Sharat Honnat</h3>
                                            <p>Geriatrician<span>HSR Layout</span></p>
                                            <h6><i class="fa fa-thumbs-up" aria-hidden="true"></i>96% . 18 Years Exp</h6>
                                        </div>
                                    </a>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div class="item" (click)="openDoctorProfilePage()">
                                    <a target="_blank">
                                        <div class="doc-img">
                                            <img src="assets/images/doctors/img3.jpg" alt="" title="">
                                        </div>
                                        <div class="doc-details">
                                            <h3>Dr.Sharat Honnat</h3>
                                            <p>Geriatrician<span>HSR Layout</span></p>
                                            <h6><i class="fa fa-thumbs-up" aria-hidden="true"></i>96% . 18 Years Exp</h6>
                                        </div>
                                    </a>
                                    <a target="_blank">
                                        <div class="doc-img">
                                            <img src="assets/images/doctors/img2.jpg" alt="" title="">
                                        </div>
                                        <div class="doc-details">
                                            <h3>Dr.Sharat Honnat</h3>
                                            <p>Geriatrician<span>HSR Layout</span></p>
                                            <h6><i class="fa fa-thumbs-up" aria-hidden="true"></i>96% . 18 Years Exp</h6>
                                        </div>
                                    </a>
                                </div>
                            </ion-slide>
                        </ion-slides>
                    </div>
                </div>
                <a class="view-all-symp" (click)="openDoctorsListPage()">See All Doctors</a>
            </div>
        </div>

        <!-- Hospital view -->

        <div>

            <div class="">

                <div class="Practo-sec highly-sec border-0">
                    <h5>
                        Highly Recommended for
                    </h5>
                    <ul>
                        <li class="d-flex">
                            <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <i class="fa fa-heart-o" aria-hidden="true"></i></span>
                            <div class="appointments-list-text">
                                <p class="m-0"><strong>Doctor Friendliness</strong></p>
                                <p class="m-0 text-muted">93% patients find the doctor friendly and approachable</p>
                            </div>
                        </li>
                        <li class="d-flex">
                            <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "><i class="fa fa-comments-o" aria-hidden="true"></i></span>
                            <div class="appointments-list-text">
                                <p class="m-0"><strong>Detailded Treatment Explanation</strong></p>
                                <p class="m-0 text-muted">89% patients recommend the doctor for in-depth explanation of their issues</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="Practo-sec highly-sec border-0">
                    <h5 class="mb-2">Patient Stories</h5>
                    <p class="text-muted">These stories represent patient opinions and experiences. They do not reflect the doctor's medical capabilities</p>
                    <p></p>
                </div>
                <div class="border-bot pb-3">
                    <div class="review-chat">
                        <div class="mb-3 border-bottom">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="name">V</div>
                                    <div>
                                        <h5 class="m-0">Verified Patient</h5>
                                        <p class="m-0 text-muted">23 days ago</p>
                                    </div>
                                </div>
                                <div><i class="fa fa-thumbs-up grren"></i></div>
                            </div>
                            <h5 class="mb-1">Visited for Adolescent Followup & Vaccinations</h5>
                            <p>Really warm person! Took time to explain the situation-reasons, possiblity, etc. she went the extra mile and gave us a couple</p>
                        </div>
                        <div class="mb-3 border-bottom">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="name">R</div>
                                    <div>
                                        <h5 class="m-0">Ramalinga</h5>
                                        <p class="m-0 text-muted">23 days ago</p>
                                    </div>
                                </div>
                                <div><i class="fa fa-thumbs-up grren"></i></div>
                            </div>
                            <h5 class="mb-3">Visited for Adolescent Followup & Vaccinations</h5>
                            <p>Really warm person! Took time to explain the situation-reasons, possiblity, etc. she went the extra mile and gave us a couple</p>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="name">V</div>
                                    <div>
                                        <h5 class="m-0">Verified Patient</h5>
                                        <p class="m-0 text-muted">23 days ago</p>
                                    </div>
                                </div>
                                <div><i class="fa fa-thumbs-up grren"></i></div>
                            </div>
                            <h5 class="mb-1">Visited for Adolescent Followup & Vaccinations</h5>
                            <p>Really warm person! Took time to explain the situation-reasons, possiblity, etc. she went the extra mile and gave us a couple</p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button>Share Your Story</button>
                            <button>Share Your Story</button>
                        </div>
                    </div>
                </div>

                <div class="mb-3 map-sec">
                    <h5>Location</h5>
                    <div class="map-sec-img">
                        <img src="../assets/images/my-doctors/map.jpg">
                        <p class="text-muted">Tap on the map for complate address</p>
                    </div>
                </div>
            </div>
            <div class="p-1">
                <div class="acc-sec mr-3">
                    <div>
                        <h5 class="border-bottom mt-0">More about Hospital</h5>
                        <p class="mr-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                    </div>
                    <ion-list>
                        <div>
                            <ion-item data-toggle="collapse" data-target="#faq1" aria-expanded="true" aria-controls="faq1">
                                <ion-label><strong>Specializations</strong></ion-label>
                                <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
                            </ion-item>
                            <div id="faq1" class="collapse hide" aria-labelledby="faqhead1" data-parent="#faq">
                                <ul>
                                    <li>Oral and maxilloFacial Surgeon</li>
                                    <li>Implantologist</li>
                                    <li>Hair Transplant Surgoen</li>
                                </ul>
                            </div>
                        </div>
                        <ion-item data-toggle="collapse" data-target="#faq2" aria-expanded="true" aria-controls="faq2">
                            <ion-label><strong>Education</strong></ion-label>
                            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
                        </ion-item>
                        <div id="faq2" class="collapse hide" aria-labelledby="faqhead1" data-parent="#faq">
                            <ul>
                                <li>BDS - Ragiv Gandhi University of Health Sciences, Bengalore, India -2009</li>
                                <li>MDS - Oral & Maxillofacial Surgery - Vydehi Institute Of Dental Sciences Research -2015</li>

                            </ul>
                        </div>

                        <ion-item data-toggle="collapse" data-target="#faq3" aria-expanded="true" aria-controls="faq3">
                            <ion-label><strong>Experience</strong></ion-label>
                            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
                        </ion-item>
                        <div id="faq3" class="collapse hide" aria-labelledby="faqhead1" data-parent="#faq">
                            <ul>
                                <li>2010 - 2012 Senior Dental Surgeon at 32 Smiles Dental Clinic</li>
                                <li>2012 -2015 Oral Surgeon at Vydehi Dental Hospital</li>

                            </ul>
                        </div>
                        <ion-item data-toggle="collapse" data-target="#faq4" aria-expanded="true" aria-controls="faq4">
                            <ion-label><strong>Registration</strong></ion-label>
                            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
                        </ion-item>
                        <div id="faq4" class="collapse hide" aria-labelledby="faqhead1" data-parent="#faq">
                            <ul>
                                <li>26101-A Karnataka State Dental Council, 2010</li>

                            </ul>
                        </div>

                    </ion-list>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <ion-button class="w-100 mb-2" (click)="openDoctorProfilePage()">Open Doctor Profile</ion-button>
        <ion-button class="w-100 mb-2" (click)="bookAppointmentPage()">Book Appointment</ion-button>
    </footer>
</ion-content>