/*** Hospital List Sec ***/
.slider-images {
  width: 100% !important;
  max-width: 100%;
  height: 193px;
  max-height: 100%;
}

.brand-wrapper {
  width: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#367faf+0,0069b3+100 */
  background: #367faf;
  /* Old browsers */
  background: -moz-linear-gradient(top, #367faf 0%, #0069b3 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #367faf 0%, #0069b3 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #367faf 0%, #0069b3 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#367faf', endColorstr='#0069b3', GradientType=0);
  /* IE6-9 */
  float: left;
  margin: 5px 0 0;
  padding: 20px;
}

.brand-wrapper h2 {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  text-align: left;
}

.brand-wrapper p {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}

.brand-wrapper .item {
  text-align: center;
}

.brand-wrapper .item img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
  transition: all 0.3s;
  width: auto;
  border-radius: 5px;
}

.brand-wrapper .owl-nav {
  display: none;
}

.brand-wrapper .owl-dots {
  text-align: center;
  margin: 20px 0 0;
}

.brand-wrapper .owl-dots .owl-dot span {
  display: block;
  width: 6px;
  height: 6px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #ffffff;
}

.brand-wrapper .owl-dots .owl-dot.active span {
  opacity: 1;
  width: 7px;
  height: 7px;
}
.docs-nearyou,
.hosp-nearyou,
.test-wrapper {
    background: none;
    margin-bottom: 10px;
    padding: 0;
}

.docs-nearyou h2,
.hosp-nearyou h2,
.docs-nearyou p,
.hosp-nearyou p,
.test-wrapper h2,
.test-wrapper p {
    color: #2d2d32;
}

.docs-nearyou .item .doc-img,
.hosp-nearyou .item .doc-img {
    float: left;
}

.docs-nearyou .item,
.hosp-nearyou .item {
    /* margin-right: 20px; */
    margin-right: -5px;
}

.docs-nearyou .item .doc-img img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.hosp-nearyou .item .doc-img img {
    width: 80px;
    height: 72px;
    border: solid 1px #cccccc;
}

.docs-nearyou .item a,
.hosp-nearyou .item a {
    margin-bottom: 25px;
    display: flex;
}

.doc-details {
    float: right;
    padding-left: 12px;
}

.doc-details h3,
.book-appointment h3 {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin: 0;
}

.doc-details p,
.book-appointment p {
    color: #787878;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    margin: 6px 0;
}

.doc-details p span {
    display: block;
}

.doc-details h6,
.book-appointment h6 {
    color: #2d2d32;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    margin: 0;
}

.doc-details i {
    color:#01a400;
    font-size: 18px;
    margin-right: 4px;
}

.hosp-nearyou .doc-details i {
    font-size: 15px;
}

.hosp-nearyou .book-appointment i {
    font-size: 15px;
    color: #2d2d32;
}

.book-appointment i {
    color: #0069b3;
    font-size: 18px;
    margin-right: 4px;
}

.docs-nearyou .owl-dots,
.hosp-nearyou .owl-dots,
.test-wrapper .owl-dots {
    display: none;
}

.view-all-symp {
    border-radius: 6px;
    border: solid 1px #dfdfdf;
    margin: 0;
    padding: 11px 0;
    width: 100%;
    display: inline-block;
    color: #212529;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}


.doctor-image-card {
  img {
    max-height: 200px;
    height: 100%;
    width: 100%;
  }
}

.personal-details {
  position: relative;
  top: 70px;
  border-radius: 10px;
  background-color: #f0f2f8;
  .card-header {
    padding: 0;
    height: 35px;
    .header-tile {
      margin-top: 2px;
    }
  }
  ion-button {
    float: right;
    height: 16px;
    width: 48px;
    ion-icon {
      font-size: 16px;
      left: -7px;
      bottom: 5px;
    }
  }
  .card-header {
    padding: 0.3rem 0.3rem;
  }
  .personal-details-content {
    padding: 10px 5px;
    font-size: 10px;
    p {
      margin: 0px 0px 4px 0px;
    }
  }
}
footer {
  padding: 15px;
}

.doctor-reviews {
  padding: 0 0.5rem 0 0.5rem;
  .rating-div {
    display: flex;
    span {
      font-size: 25px;
    }
    app-rating {
      margin-left: 10px;
      margin-top: -11px;
    }
  }
}

.review-li {
  .image-parent {
    display: flex;
    .image-parent-image {
      max-height: 50px;
    }
    .reviewer-name {
      float: left;
      margin-left: 10px;
      line-height: 15px;
      margin-top: 11px;
      .div-rating {
        float: left;
      }
    }
    img {
      max-height: 50px;
      max-width: 50px;
      height: 100%;
      width: 100%;
      border-radius: 12%;
    }
  }
  p {
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 0px;
  }
}

.rate-write {
  padding-left: 10px;
}
.time-buttons-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
}

/*Accordian Styles*/

.doctors-main .rounded-circle {
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  height: 100px;
  margin-right: 10px;
}

.doctors-list h4 {
  font-size: 16px;
  margin: 0;
}

.doctors-list p {
  margin: 0px 0 10px;
  font-size: 0.9rem;
  color: #868686;
  line-height: 20px;
}

.prime {
  color: #0069b4;
  margin-right: 10px;
}
.doctor-list {
  border-bottom: 1px solid #ccc;
}
.doctors-main {
  margin: 15px 0;
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 15px;
}
.doctors-view {
  padding: 15px;
  h6,
  .doctors-list span {
    margin: 0px;
    text-decoration: underline;
    font-weight: 600;
    font-size: 0.9rem;
  }
}

ion-segment-button#segment-0 {
  text-transform: capitalize;
}
.Practo-sec {
  padding: 0;
  border-radius: 8px;
  border: 1px solid #e6e6e6;
  margin: 20px 15px;
}

.Practo-sec ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.Practo-sec h4 {
  margin: 0;
  background-color: #e5f4ff;
  font-size: 16px;
  color: #0069b4;
  padding: 15px;
  border-radius: 8px 8px 0 0;
  font-weight: normal;
}

.Practo-sec ul li {
  padding: 10px 9px 5px;
  font-size: 14px;
}
.Practo-sec ul li i {
  color: #000000;
  margin: 7px 8px 0 0;
  font-size: 22px;
}
.Practo-sec h4 i {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  color: #ffffff;
  background-color: #0069b4;
  display: inline-block;
  text-align: center;
  line-height: 2rem;
  font-size: 0.9rem;
}
h4.text-center.bg-none {
  background-color: transparent !important;
  border: 0;
}
.Practo-sec.highly-sec {
  background-color: transparent;
}
.Practo-sec.highly-sec h5 {
  font-size: 20px;
  margin: 22px 15px 5px;
  font-weight: 600;
}
.Practo-sec.highly-sec p {
  margin-left: 15px;
  font-size: 0.9rem;
}
.acc-sec p {
  margin: 0px 15px 15px;
  font-size: 0.9rem;
}
.acc-sec h5 {
  font-size: 1rem;
  width: 100%;
  padding: 0 15px 15px;
  display: inline-block;
}
.acc-sec ul li {
  font-size: 14px;
  margin: 10px 0 0;
}
.review-chat {
  font-size: 14px;
  margin: 15px;
  .name {
    height: 2rem;
    width: 2rem;
    background-color: #444;
    border-radius: 50%;
    line-height: 2rem;
    text-align: center;
    color: #fff;
    margin-right: 15px;
  }

  button {
    border: 1px solid #ccc;
    padding: 15px 16px;
    border-radius: 6px;
    background-color: #fff;
    margin: 5px;
    font-weight: 600;
    font-size: 0.9rem;
  }
}
.border-bot {
  border-bottom: solid 12px #f2f2f2;
}
.grren {
  color: #01a400;
  font-size: 1.3rem;
  margin-right: 4px;
}
.footer-btn button {
  background-color: #3880ff;
  padding: 15px;
  color: #fff;
  border-radius: 6px;
  margin: 5px;
}

.map-sec {
  padding: 15px;
  border-bottom: solid 12px #f2f2f2;

  .map-sec-img {
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    h5 {
      margin: 15px;
    }
    .map-sec img {
      width: 100%;
    }
    p {
      margin: 15px;
    }
  }
}
.review-chat h5 {
  font-size: 1rem;
}

.item {
  width: 100%;
}
.icon {
  width: 100%;
}
.icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.two-three-grid{
  padding: 0 0 0 0 !important;
}
.two-three-grid .healthcon-spec .healthcon-spec-bg {
  width: 48%;
  float: left;
}
.two-three-grid .healthcon-spec .healthcon-spec-bg p {
  color: #2d2d32;
  font-size: 0.8rem;
  padding-left: 5px;
}