<ion-header>
  <ion-toolbar color="primary"><ion-buttons slot="start" >
    <ion-back-button *ngIf="canGoBack"></ion-back-button>
    <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
  </ion-buttons>
    <ion-title>Appointments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="upcoming">Upcoming</div>
<div class="appointments-list d-flex" (click)="openAppointment()">
  <div class="appointments-list-img mr-3"><img src="assets/images/appointments/doctor-12.jpg" alt=""></div>
  <div class="appointments-list-text">
      <p> Appointment with <strong>DR. Tejaswini Nayak</strong></p>
      <p>Chinmay Child Care, Bellandur</p>
      <p class="date">28 AUG 2021, 11:15 AM</p>
  </div>
</div>
</ion-content>
