
// Doctor Dashhboard Sec
.mt-15 {margin-top: 15px !important;}
.doctor-dashboard-main {width: 100%;}
.profile-sidebar { background-color: #fff; border: 1px solid #f0f0f0; border-radius: 4px; margin-bottom: 20px; overflow: hidden;}
.widget-profile { background-color: #fff; border-bottom: 1px solid #f0f0f0; padding: 20px; text-align: center;}
.doctor-dashboard-main h4, .doctor-dashboard-main .h4 { font-size: 1rem;}
.widget-profile .profile-info-widget { display: block; text-align: center;}
.widget-profile .profile-info-widget .booking-doc-img { display: inline-block;  margin: 0 0 15px; width: auto; padding: 8px; background-color: #f7f7f7;
 border-radius: 50%;}
 .widget-profile .profile-info-widget .booking-doc-img img { border-radius: 50%; height: 120px;width: 120px;}
 .profile-det-info { overflow: hidden;}
 .profile-det-info h3 { font-size: 17px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
 .patient-details h5 { color: #757575; font-size: 13px; font-weight: normal; margin-bottom: 8px; overflow: hidden; text-overflow: ellipsis;
  white-space: nowrap;}
.doctor-dashboard-main .content { min-height: 200px; padding: 30px 0 0; padding: 15px 0 0;}
.doctor-dashboard-main .card { margin-bottom: 0.9375rem;}
.doctor-dashboard-main .card-body { padding: 1.25rem;}
.dash-widget h6 { font-size: 15px; font-weight: 400;}
.dash-widget h3 { font-size: 20px;}
.dct-border-rht { border-bottom: 1px solid #f0f0f0; border-right: 0; margin-bottom: 20px; padding-bottom: 15px; flex-direction: unset;
  text-align: left;}
.dash-widget {-webkit-box-align: center;-ms-flex-align: center;	align-items: center;display: -webkit-box;display: -ms-flexbox;display: flex;}
.circle-bar {  margin-right: 15px;}
.dct-border-rht {border-right: 1px solid #f0f0f0;}
.dash-widget h6 { font-size: 16px; font-weight: 400;}
.dash-widget h3 { font-size: 24px;  margin-bottom: 5px;}
.dash-widget p {color: #757575; font-size: 14px;margin-bottom: 0;}
.circle-bar > div { display: inline-block; position: relative; text-align: center;}
.circle-bar > div img {left: 0; position: absolute; top: 50%;  right: 0;  text-align: center; margin: 0 auto;  transform: translateY(-50%);}
.circle-bar > div canvas {width: 90px !important;height: 90px !important;}
.dash-card .row {margin-left: -10px;margin-right: -10px;}
.dash-card .row > div {padding-left: 10px;	padding-right: 10px;}
.appointment-tab {margin-bottom: 30px;}
.appointment-tab .nav-tabs { background-color: #fff; padding: 1.5rem; border: 1px solid #f0f0f0; border-radius: .25rem 0.25rem 0 0 !important;border-bottom: 0;}
.appointment-tab .tab-content {padding-top: 0;}
.appointment-tab .card {border-radius: 0;}
.submit-btn-bottom {margin-bottom: 30px;}
.doctor-dashboard-main .nav-tabs.nav-tabs-solid > li > a.active, .doctor-dashboard-main .nav-tabs.nav-tabs-solid > li > a.active:hover, .doctor-dashboard-main .nav-tabs.nav-tabs-solid > li > a.active:focus {
  background-color: #20c0f3;  border-color: #20c0f3; color: #fff;}
.doctor-dashboard-main .appointment-tab .card { border-radius: 0;}
.doctor-dashboard-main .card-table .card-body { padding: 0;}
.card-table .table tr td:first-child, .card-table .table tr th:first-child { padding-left: 1.5rem;}
table.table td h2.table-avatar { -webkit-box-align: center; -ms-flex-align: center;  align-items: center;    display: -webkit-inline-box;
display: -ms-inline-flexbox; display: inline-flex; font-size: inherit;  font-weight: 400; margin: 0; padding: 0; vertical-align: middle;
 white-space: nowrap;}
.card-table .table td, .card-table .table th { border-top: 1px solid #e2e5e8; padding: 1rem 0.75rem; white-space: nowrap;}
.table { color: #272b41; max-width: 100%;margin-bottom: 0; width: 100%;}
.table thead { border-bottom: 1px solid rgba(0, 0, 0, 0.03);}
.card-table .card-body .table > thead > tr > th { border-top: 0;}
.card-table .table td, .card-table .table th { border-top: 1px solid #e2e5e8; padding: 1rem 0.75rem; white-space: nowrap;}
table.table td h2 a { color: #272b41;}
.avatar-sm { width: 2.5rem; height: 2.5rem;}
.avatar > img { width: 100%; height: 100%;-o-object-fit: cover; object-fit: cover;}
.bg-info-light { background-color: rgba(2, 182, 179,0.12) !important; color: #1db9aa !important;}
.bg-success-light { background-color: rgba(15, 183, 107,0.12) !important; color: #26af48 !important;}
.btn-group-sm>.btn, .btn-sm { padding: .25rem .5rem; font-size: .875rem; line-height: 1.5; border-radius: .2rem;}
.bg-danger-light { background-color: rgba(242, 17, 54,0.12) !important; color: #e63c3c !important;}
.btn { display: inline-block; font-weight: 400; color: #212529; text-align: center;vertical-align: middle; cursor: pointer;-webkit-user-select: none;
  -moz-user-select: none; -ms-user-select: none; user-select: none; background-color: transparent; border: 1px solid transparent;padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; border-radius: .25rem; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}

// Doctor Dashhboard Sec 
  .doctor-appointment-main {width:100%; margin: 15px 0 0;}
// Single Appointment Sec
.appointments .appointment-list { background-color: #fff; border: 1px solid #f0f0f0; border-radius: 4px; display: -webkit-box;
display: -ms-flexbox;display: block; flex-wrap: wrap; margin-bottom: 20px; padding: 20px; text-align: center;}
 .booking-doc-img {margin: 0 0 15px; display: block;}
.booking-doc-img img { border-radius: 50%; height: 100px; width: 100px;}
.profile-det-info { margin-bottom: 15px;}
.profile-det-info h3 { font-size: 17px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.patient-details h5 i { width: 18px;}
.appointment-action a { font-size: 13px;}
h2.table-avatar a {
  font-size: 0.9rem !important;
}
.table-responsive td {
  font-size: 0.9rem;
}
.table-action a {
  margin: 2px;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-radius: 40px;
}