<ion-header>
<ion-toolbar>
<ion-buttons slot="start" >
<ion-menu-button></ion-menu-button>
</ion-buttons>
<ion-title></ion-title>
</ion-toolbar>
</ion-header>

<ion-content p-1>

<div class="">


<!-- Doctor Dashhboard Sec  -->

<div class="doctor-dashboard-main"> 
<!-- Page Content -->
<div class="content">
<div class="">
<div class="row">
<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar"> 


</div>
<div class="col-md-7 col-lg-8 col-xl-9">
<div class="row">
<div class="col-md-12">
<div class="card dash-card">
<div class="card-body">
<div class="row d-flex">
<div class="">
<div class="dash-widget dct-border-rht">
<div class="circle-bar circle-bar1">
<div class="circle-graph1" data-percent="75"><img src="../assets/images/doctor-home/icon-01.png" alt="" class="img-fluid" alt="patient"> </div>

</div>
<div class="dash-widget-info">
<h6>Total Patient</h6>
<h3>1500</h3>
<p class="text-muted">Till Today</p>
</div>
</div>
</div>
<div class="">
<div class="dash-widget dct-border-rht">
<div class="circle-bar circle-bar2">
<div class="circle-graph2" data-percent="65"> <img src="../assets/images/doctor-home/icon-02.png" alt="" class="img-fluid" alt="patient">
  
  </div>
</div>
<div class="dash-widget-info">
<h6>Today Patient</h6>
<h3>160</h3>
<p class="text-muted">06, Nov 2019</p>
</div>
</div>
</div>
<div class="">
<div class="dash-widget">
<div class="circle-bar circle-bar3">
<div class="circle-graph3" data-percent="50"><img src="../assets/images/doctor-home/icon-03.png" alt="" class="img-fluid" alt="patient"> </div>
</div>
<div class="dash-widget-info">
<h6>Appoinments</h6>
<h3>85</h3>
<p class="text-muted">06, Apr 2019</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
<!-- /Page Content --> 
<!-- bookings -->
<div class="mb-4 doctor-main">
    <h4 class="m-0 pt-0 pb-2">Upcoming Bookings</h4>
    <div class="d-flex align-items-center justify-content-between doctors-main">
        <div class="ms-3 d-flex align-items-center doctors-list" (click)="openDoctorProfilePage()">
          <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <img src="../assets/images/patient1.jpg" class="rounded-circle"></span>
          <div>
            <h4>Aswini Nayak</h4>
          <p>Pediatrician<br/>Chinmayi Child Care Clinic</p>
          <div class="d-flex d-flex align-items-center"><span class="prime">Prime </span> <button class="plus">PLUS</button></div>
          </div>
        </div>
        <div class="button" (click)="bookAppointmentPage()">Book</div>
    </div>
    <div class="d-flex align-items-center justify-content-between doctors-main">
      <div class="ms-3 d-flex align-items-center doctors-list">
        <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <img src="../assets/images/patient1.jpg" class="rounded-circle"></span>
        <div>
          <h4>Aswini Nayak</h4>
        <p>Pediatrician<br/>Chinmayi Child Care Clinic</p>
        <div class="d-flex d-flex align-items-center"><span class="prime">Prime </span> <button class="plus">PLUS</button></div>
        </div>
      </div>
      <div class="button">Book</div>
  </div>

  <div class="d-flex align-items-center justify-content-between doctors-main">
    <div class="ms-3 d-flex align-items-center doctors-list">
      <span class="icon-sahpe icon-lg bg-light-warning  text-center text-dark-warning fs-4 "> <img src="../assets/images/patient1.jpg" class="rounded-circle"></span>
      <div>
        <h4>Aswini Nayak</h4>
      <p>Pediatrician<br/>Chinmayi Child Care Clinic</p>
      <div class="d-flex d-flex align-items-center"><span class="prime">Prime </span> <button class="plus">PLUS</button></div>
      </div>
    </div>
    <div class="button">Book</div>
  </div>
  
  </div>
<!-- reviews -->
<div class="border-bot pb-3 mt-4">
   
    <div class="review-chat">
        <h4 class="m-0 pt-0 pb-3">Recent Reviews</h4>
        <div class="mb-3 border-bottom">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="name">V</div>
                    <div>
                        <h5 class="m-0">Verified Doctor </h5>
                        <p class="m-0 text-muted">23 days ago</p>
                    </div>
                </div>
                <div><i class="fa fa-thumbs-up grren"></i></div>
            </div>
            <h5 class="mb-1">Visited for Adolescent Followup & Vaccinations</h5>
            <p>Really warm person! Took time to explain the situation-reasons, possiblity, etc. she went the extra mile and gave us a couple</p>
        </div>
        <div class="mb-3 border-bottom">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="name">R</div>
                    <div>
                        <h5 class="m-0">Ramalinga</h5>
                        <p class="m-0 text-muted">23 days ago</p>
                    </div>
                </div>
                <div><i class="fa fa-thumbs-up grren"></i></div>
            </div>
            <h5 class="mb-3">Visited for Adolescent Followup & Vaccinations</h5>
            <p>Really warm person! Took time to explain the situation-reasons, possiblity, etc. she went the extra mile and gave us a couple</p>
        </div>
        <div class="mb-3 border-bottom">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="name">R</div>
                    <div>
                        <h5 class="m-0">Ramalinga</h5>
                        <p class="m-0 text-muted">23 days ago</p>
                    </div>
                </div>
                <div><i class="fa fa-thumbs-up grren"></i></div>
            </div>
            <h5 class="mb-3">Visited for Adolescent Followup & Vaccinations</h5>
            <p>Really warm person! Took time to explain the situation-reasons, possiblity, etc. she went the extra mile and gave us a couple</p>
        </div>
      
    </div>
</div>

</div>
</div>
</ion-content>
