<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Appointments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card  (click)="openAppointment()">
    <ion-row>
      <ion-col size="3" class="ion-padding-5">
          <img class="card-avatar-image" src="assets/profile/doctor-2.jfif"/>
      </ion-col>
      <ion-col size="8" class="padding-5 ion-no-margin">
        <div class="up-appointment-text">
        <ion-card-content class="no-padding">
          <ion-card-title>
            <ion-label class="font-size-25">Dr. Seema Vazeer</ion-label>
          </ion-card-title>
          <ion-label class="font-size-20">Central Hospital</ion-label><br>
          <ion-label class="font-size-20">July 24th @2:30 PM </ion-label>
        </ion-card-content>
      </div>
      </ion-col>
      <ion-col size="1" class="ion-no-margin">
        <ion-icon color="primary" class="book-arrow" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card  (click)="openAppointment()">
    <ion-row>
      <ion-col size="3" class="ion-padding-5">
          <img class="card-avatar-image" src="https://www.moh.gov.bh/Content/Upload/Image/636855583015340000-dr-hishama-alshaikh.jpg"/>
      </ion-col>
      <ion-col size="8" class="padding-5 ion-no-margin">
        <div class="up-appointment-text">
        <ion-card-content class="no-padding">
          <ion-card-title>
            <ion-label class="font-size-25">Dr. Aadam</ion-label>
          </ion-card-title>
          <ion-label class="font-size-20">Farwaniya Hospital</ion-label><br>
          <ion-label class="font-size-20">July 24th @2:30 PM</ion-label>
        </ion-card-content>
      </div>
      </ion-col>
      <ion-col size="1" class="ion-no-margin">
        <ion-icon color="primary" class="book-arrow" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card  (click)="openAppointment()">
    <ion-row>
      <ion-col size="3" class="ion-padding-5">
          <img class="card-avatar-image" src="https://www.moh.gov.bh/Content/Upload/Image/637526916400505076-dr-fatima-al-owanati.jpg"/>
      </ion-col>
      <ion-col size="8" class="padding-5 ion-no-margin">
        <div class="up-appointment-text">
        <ion-card-content class="no-padding">
          <ion-card-title>
            <ion-label class="font-size-25">Dr. Raja Ahmed Saleh Noaimi</ion-label>
          </ion-card-title>
          <ion-label class="font-size-20">Al Salam International Hospital</ion-label><br>
          <ion-label class="font-size-20">July 24th @2:30 PM</ion-label>
        </ion-card-content>
      </div>
      </ion-col>
      <ion-col size="1" class="ion-no-margin">
        <ion-icon color="primary" class="book-arrow" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card  (click)="openAppointment()">
    <ion-row>
      <ion-col size="3" class="ion-padding-5">
          <img class="card-avatar-image" src="https://www.moh.gov.bh/Content/Upload/Image/636724316230300000-%D8%AF.%D9%8A%D9%88%D8%B3%D9%81-%D8%A7%D8%AD%D9%85%D8%AF-%D9%86%D9%88%D8%AD.jpg"/>
      </ion-col>
      <ion-col size="8" class="padding-5 ion-no-margin">
        <div class="up-appointment-text">
        <ion-card-content class="no-padding">
          <ion-card-title>
            <ion-label class="font-size-25">Dr.Amal Khalil Ebrahim</ion-label>
          </ion-card-title>
          <ion-label class="font-size-20">Kuwait Hospital</ion-label><br>
          <ion-label class="font-size-20">July 24th @2:30 PM</ion-label>
        </ion-card-content>
      </div>
      </ion-col>
      <ion-col size="1" class="ion-no-margin">
        <ion-icon color="primary" class="book-arrow" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card  (click)="openAppointment()">
    <ion-row>
      <ion-col size="3" class="ion-padding-5">
          <img class="card-avatar-image" src="https://d1t78adged64l7.cloudfront.net/images/profile-pics/doctors/1594104776_DR.SYEDAHMADALIHASSAN.jfif"/>
      </ion-col>
      <ion-col size="8" class="padding-5 ion-no-margin">
        <div class="up-appointment-text">
        <ion-card-content class="no-padding">
          <ion-card-title>
            <ion-label class="font-size-25">Dr.Fatima Mohammed Ali</ion-label>
          </ion-card-title>
          <ion-label class="font-size-20">Adan Hospital</ion-label><br>
          <ion-label class="font-size-20">July 24th @2:30 PM</ion-label>
        </ion-card-content>
      </div>
      </ion-col>
      <ion-col size="1" class="ion-no-margin">
        <ion-icon color="primary" class="book-arrow" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card  (click)="openAppointment()">
    <ion-row>
      <ion-col size="3" class="ion-padding-5">
          <img class="card-avatar-image" src="assets/profile/doctor-2.jfif"/>
      </ion-col>
      <ion-col size="8" class="padding-5 ion-no-margin">
        <div class="up-appointment-text">
        <ion-card-content class="no-padding">
          <ion-card-title>
            <ion-label class="font-size-25">Dr. Seema Vazeer</ion-label>
          </ion-card-title>
          <ion-label class="font-size-20">Central Hospital</ion-label><br>
          <ion-label class="font-size-20">July 24th @2:30 PM </ion-label>
        </ion-card-content>
      </div>
      </ion-col>
      <ion-col size="1" class="ion-no-margin">
        <ion-icon color="primary" class="book-arrow" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card  (click)="openAppointment()">
    <ion-row>
      <ion-col size="3" class="ion-padding-5">
          <img class="card-avatar-image" src="https://www.moh.gov.bh/Content/Upload/Image/636855583015340000-dr-hishama-alshaikh.jpg"/>
      </ion-col>
      <ion-col size="8" class="padding-5 ion-no-margin">
        <div class="up-appointment-text">
        <ion-card-content class="no-padding">
          <ion-card-title>
            <ion-label class="font-size-25">Dr. Aadam</ion-label>
          </ion-card-title>
          <ion-label class="font-size-20">Farwaniya Hospital</ion-label><br>
          <ion-label class="font-size-20">July 24th @2:30 PM</ion-label>
        </ion-card-content>
      </div>
      </ion-col>
      <ion-col size="1" class="ion-no-margin">
        <ion-icon color="primary" class="book-arrow" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card  (click)="openAppointment()">
    <ion-row>
      <ion-col size="3" class="ion-padding-5">
          <img class="card-avatar-image" src="https://www.moh.gov.bh/Content/Upload/Image/637526916400505076-dr-fatima-al-owanati.jpg"/>
      </ion-col>
      <ion-col size="8" class="padding-5 ion-no-margin">
        <div class="up-appointment-text">
        <ion-card-content class="no-padding">
          <ion-card-title>
            <ion-label class="font-size-25">Dr. Raja Ahmed Saleh Noaimi</ion-label>
          </ion-card-title>
          <ion-label class="font-size-20">Al Salam International Hospital</ion-label><br>
          <ion-label class="font-size-20">July 24th @2:30 PM</ion-label>
        </ion-card-content>
      </div>
      </ion-col>
      <ion-col size="1" class="ion-no-margin">
        <ion-icon color="primary" class="book-arrow" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card  (click)="openAppointment()">
    <ion-row>
      <ion-col size="3" class="ion-padding-5">
          <img class="card-avatar-image" src="https://www.moh.gov.bh/Content/Upload/Image/636724316230300000-%D8%AF.%D9%8A%D9%88%D8%B3%D9%81-%D8%A7%D8%AD%D9%85%D8%AF-%D9%86%D9%88%D8%AD.jpg"/>
      </ion-col>
      <ion-col size="8" class="padding-5 ion-no-margin">
        <div class="up-appointment-text">
        <ion-card-content class="no-padding">
          <ion-card-title>
            <ion-label class="font-size-25">Dr.Amal Khalil Ebrahim</ion-label>
          </ion-card-title>
          <ion-label class="font-size-20">Kuwait Hospital</ion-label><br>
          <ion-label class="font-size-20">July 24th @2:30 PM</ion-label>
        </ion-card-content>
      </div>
      </ion-col>
      <ion-col size="1" class="ion-no-margin">
        <ion-icon color="primary" class="book-arrow" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card  (click)="openAppointment()">
    <ion-row>
      <ion-col size="3" class="ion-padding-5">
          <img class="card-avatar-image" src="https://d1t78adged64l7.cloudfront.net/images/profile-pics/doctors/1594104776_DR.SYEDAHMADALIHASSAN.jfif"/>
      </ion-col>
      <ion-col size="8" class="padding-5 ion-no-margin">
        <div class="up-appointment-text">
        <ion-card-content class="no-padding">
          <ion-card-title>
            <ion-label class="font-size-25">Dr.Fatima Mohammed Ali</ion-label>
          </ion-card-title>
          <ion-label class="font-size-20">Adan Hospital</ion-label><br>
          <ion-label class="font-size-20">July 24th @2:30 PM</ion-label>
        </ion-card-content>
      </div>
      </ion-col>
      <ion-col size="1" class="ion-no-margin">
        <ion-icon color="primary" class="book-arrow" name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
