.card-avatar-image{
    max-width: 130px;
    max-height: 95px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}
.up-appointment-text{
    text-align: left;
    position: relative;
    padding: 2px 0;
}
.upcomming-appointment-div{
    background-color: #e6eaff;
    border: 2px solid #e6eaff;
    border-radius: 20px;
    padding:16px 0 16px 0;
}
.book-arrow{
    font-size: 30px;
    padding: 15px 0px;
    top: 17px;
    position: relative;
}