/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";
//@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
/* Basic CSS for apps built with Ionic */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

h1, h2, h3, h4, h5{
    font-family: 'Poppins', sans-serif;
}
.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
    font-family: 'Open Sans', sans-serif;
}

ion-title {
    font-family: 'Poppins', sans-serif;
}

ion-content input {
    font-family: 'Open Sans', sans-serif;
}

ion-content {
    
    font-family: 'Open Sans', sans-serif;
    #form {
        ion-button {
            font-family: 'Open Sans', sans-serif;
        }
    }
}

.country-code-modal .modal-wrapper {
    height: 80%;
    top: 20%;
    position: absolute;
    display: block;
}

.swiper-pagination-bullet {
    display: inline-block;
    width: 6px;
    height: 6px;
}

swiper-pagination-bullets {
    bottom: -4px !important;
}
a:hover {
    text-decoration: none;
}

.find-searchbar {
    background: #f1f0f5;
    margin: 0;
    padding: 15px;
    position: relative;
}

.find-searchbar form .form-group {
    position: relative;
    margin-bottom: 0;
}

.find-searchbar form .form-group label {
    z-index: 1;
    display: block;
    margin-bottom: 0;
    position: absolute;
    left: 15px;
    color: #787878;
    font-size: 12px;
    top: 30%;
}

.find-searchbar form .form-group .form-control {
    padding: 10px 10px 10px 38px;
    color: #202647;
    background-color: #ffffff;
    border: 1px solid #ebecee;
    font-size: 15px;
    font-weight: 400;
    height: 40px;
    border-radius: 5px;
}


.two-three-grid{
    padding: 20px 15px 0;
	h3{
        color: #787878;
        font-size: 15px;
        font-weight: 600;
        .explore-more {
            color: #0069b3;
            float: right;
        }
    }
	hr {
        border-top: solid 1px #efefef;
        margin-bottom: 0;
    }
   .healthcon-icons{
    text-align: center;
    margin: 20px 0 0;
    img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
    p {
        color: #2d2d32;
        font-size: 13px;
        font-weight: 400;
        margin: 6px 0;
    }
    .hospitals-img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        a{
            
        }
    }	
   }
   
   


   .healthcon-spec{
    .healthcon-spec-bg {
        background: #f6f6f8;
        border-radius: 5px;
        margin: 5px 12px 5px 0;
        width: 48%;
        float: left;
        height: 70px;

        a {
            display: table-cell;
            vertical-align: middle;
            padding: 15px 5px;
        }
        img {
            display: inline-block;
        }
        p {
            color: #2d2d32;
            font-size: 13px;
            font-weight: 600;
            line-height: 16px;
            margin: 0;
            padding-left: 5px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .healthcon-spec-bg:nth-child(even) {
        margin-right: 0;
    }
   }
   

}
// View and Edit Profile

.md.hydrated .tab-selected {
    border-bottom: 2px solid #fff !important;
}
.md.hydrated .tab-has-label{
    border-bottom: 2px solid transparent;
    font-weight: 600;
}
.complate-profile p {
    font-weight: lighter;
    font-size: 14px;
}
.profile-main{
    font-size: 14px;
   
    .title{
        border-bottom: 1px solid #f5f5f5;
        padding:15px 15px 0px;
    }
    .profile-list{
        padding: 15px;
       li{
            font-size: 14px;
            border-bottom: 1px solid #f5f5f5;
            padding: 16px 0;
        }
    }
}

    .complate-profile-inner {
       background-color: #14addb;
       border: 1px solid #14addb;
        border-radius: 2px;
        padding: 5px;
        color: #fff;
        text-align: center;
        margin: 0 15px 15px;

        .complate-profile-inner:hover{
           background-color: #168db3;
           border: 1px solid #168db3;
        }
    
    h4 {
        padding: 0;
        margin: 0;
        font-size: 18px;
    p{
        font-size: 13px;
        font-weight: 300;
        
    }
        
}
}
.complate-profile {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
}
label, input, select, textarea {
    font-family: inherit;
    line-height: normal;
    margin: 0;
}

/*Loaar styles*/

.loading-wrapper.sc-ion-loading-md {
    -webkit-box-shadow: none;
    box-shadow: none;
    --background: transperent;
}

ion-spinner.sc-ion-loading-md.spinner-crescent {
    color: #e30613;
    height: 50px;
    width: 50px;
}

ion-backdrop.sc-ion-loading-md {
    display: none;
}

.location-name {
    visibility: inherit;
    text-transform: capitalize;
    font-weight: 600;
    color: #0069b4;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
}
/*Loaar styles*/

.sc-ion-alert-md-h {
    --background: var(--ion-overlay-background-color, var(--ion-background-color, #fff));
    --max-width: 90%;
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
    font-size: 14px;
}
.appointment-help{
    padding: 15px;
    h4 {
        margin: 0 0 20px;
        font-size: 16px;
    }
     p {
        font-size: 14px;
    }
     .hydrated {
        text-transform: capitalize;
    }
}
/*** Appointment Cancellation Sec ***/
.appointment-cancellation-sec .sec-head { border-bottom: 1px solid rgb(238, 238, 238); padding:15px ;}
.appointment-cancellation-sec .sec-head h4 {color: #212121;font-size: 14px; font-weight: 500; padding: 0; margin: 0; }
.single-appointment-cancellation-sec {padding: 15px;}
.single-appointment-cancellation-sec h5 {font-size: 14px; font-weight: normal; margin: 0 0 20px;}
.single-appointment-cancellation-sec h3 {    color: #464646;font-size: 14px;font-weight: normal;margin: 0 0 20px;}
.single-appointment-cancellation-sec h3 span {display: block; margin: 4px 0 0; font-weight: 300;}
.single-appointment-cancellation-sec h4 {color: #595959; font-size: 14px; font-weight: 500; margin: 0 0 20px;}
.single-appointment-cancellation-sec h4 span {display: block; margin: 0 0 4PX; font-weight: normal; color: #bdbdbd; font-size: 13px;}
.single-appointment-cancellation-sec p.sub-head {margin: 0 0 5px; color: #b1b1b1;}
.single-appointment-cancellation-sec .bttn {border-radius: 8px; clear: both; float: left; margin: 26px 0 0;}
.single-appointment-cancellation-sec form {padding: 0 0 20px; display: inline-block;}
/* radio styles start */
.customRadio .radio {margin-bottom: 0px;}
.customRadio .radio-label span{color: #212121;position: relative;top: 1px;cursor: pointer;}
.customRadio .radio input[type=radio] {position: absolute;opacity: 0;}
.customRadio .radio input[type=radio] + .radio-label:before {content: "";background: #ECFAFF;border-radius: 100%;border: 1px solid #B1B9C1;display: inline-block;width: 20px;height: 20px;position: relative;top: 0;margin-right: 8px;vertical-align: middle;cursor: pointer;text-align: center;transition: all 250ms ease;}
.customRadio .radio input[type=radio]:checked + .radio-label:before {background-color: #fff;box-shadow: inset 0 0 0 5px #f2604a;border:0px;}
.customRadio .radio input[type=radio]:focus + .radio-label:before {outline: none;border-color: #3197EE;}
.customRadio .radio input[type=radio]:disabled + .radio-label:before {box-shadow: inset 0 0 0 4px #f4f4f4;border-color: #B1B9C1;background: #B1B9C1;cursor: auto;}
.customRadio .radio input[type=radio] + .radio-label:empty:before {margin-right: 0;}
.customRadio.radio-inline .radio {display: inline-block; width: 100%;padding:15px 10px; border-bottom: 1px solid #e3e3e3; outline: none;}
.bttn { outline: none; border: none; width: 100%;  background-color: #29318d; color: #fff; display: inline-block; font-size: 16px; font-weight: 500; box-shadow: none !important; line-height: 40px;}
.bttn.disabled { background: #b1b9c1; pointer-events: none;}
.single-appointment-cancellation-sec .customRadio {border: 1px solid #e3e3e3; border-radius: 8px;}
/* radio styles end */

.action-sheet-icon.sc-ion-action-sheet-md {
    margin-inline-end: 12px;
}

:host {
    height: 40px;
}
.two-three-grid h3 {
    color: #000000;
    font-size: 15px;
    font-weight: 500;
}
.single-appointment-sec ion-button {
    width: 32%;
}
ion-segment.ng-untouched.ng-pristine.ng-valid.ion-untouched.ion-pristine.ion-valid.ion-color.ion-color-primary.ios.in-toolbar.segment-scrollable.hydrated {
   background-color: transparent;
   border: 0;
   padding: 8px;
}