<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button *ngIf="canGoBack"></ion-back-button>
      <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
    </ion-buttons>
    <ion-title>Covid Assist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-bg">  
    <h2>Logo</h2>
    <h3>Covid Assist <i class="fa fa-check" aria-hidden="true"></i>
    </h3>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</p>
  </div>
  <div class="covid-banner mt-4">
    <div class="row">
      <div class="col-8 pr-0">
        <div class="covid-text">
          <div class="care-plan d-flex">
            <div class="mr-2"><i class="fa fa-home" aria-hidden="true"></i></div>
            <div>COVID-19 <br/>HOME CARE PLAN</div>
          </div>
          <h4>COVID-19 <br/>Home care plan</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
       <button>BUY NOW</button>
        </div>
  
      </div>
      <div class="col-4 pl-0"><img src="assets/images/patient7.jpg" alt=""></div>
    </div>
  </div>
<!-- Clinic Pro Covid Tesst Sec  -->
<div class="clinic-pro-covid-test-sec">
  <div class="container">
    <h4 class="mb-0 mt-4">
      Talk to our doctors & understand
      COVID after effects better</h4>
    <div class="row">
      <div class="col-6">
            <!-- Single Clinic Pro Covid Tesst Sec -->
        <div class="single-clinic-pro-covid-test-sec">
          <div class="service-icon">
            <img src="assets/images/corona-symp/img6.jpg" alt="">
          </div>
          <div class="single-clinic-pro-covid-test-sec-desc">
            <h3>COVID-19 <br/>Management</h3>
            <p>Lorem Ipsum is simply dummy text of the printing </p>
            <a href="#">Consultation Now</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <!-- Single Clinic Pro Covid Tesst Sec -->
        <div class="single-clinic-pro-covid-test-sec">
          <div class="service-icon">
            <img src="assets/images/corona-symp/img6.jpg" alt="">
          </div>
          <div class="single-clinic-pro-covid-test-sec-desc">
            <h3>Black fungus</h3>
            <p>Lorem Ipsum is simply dummy text of the printing </p>
            <a href="#">Consultation Now</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <!-- Single Clinic Pro Covid Tesst Sec -->
        <div class="single-clinic-pro-covid-test-sec">
          <div class="service-icon">
            <img src="assets/images/corona-symp/img6.jpg" alt="">
          </div>
          <div class="single-clinic-pro-covid-test-sec-desc">
            <h3>Stress & anxiety</h3>
            <p>Lorem Ipsum is simply dummy text of the printing </p>
            <a href="#">Consultation Now</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <!-- Single Clinic Pro Covid Tesst Sec -->
        <div class="single-clinic-pro-covid-test-sec">
          <div class="service-icon">
            <img src="assets/images/corona-symp/img6.jpg" alt="">
          </div>
          <div class="single-clinic-pro-covid-test-sec-desc">
            <h3>Lung Infection</h3>
            <p>Lorem Ipsum is simply dummy text of the printing </p>
            <a href="#">Consultation Now</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="sec-head"><h2>Book Covid Tests</h2></div>
  <div class="row">
    <div class="col-12">

      <div class="brand-wrapper">
        <!-- <div class="sec-title text-center mb-0">
            <h2>In the Spotlight</h2>
            <p>Explore deals, offers, health updates and more</p>
            <span class="decor"><span class="inner"></span></span>
        </div> -->

        <div class="row justify-content-center">
            <div class="col-lg-10">
              
                <ion-slides pager="true" [options]="spotlightSlideOpts" class="spot-slid-btm-pad">
                    <ion-slide>
                        <div class="item">
                           <!-- Single Book Covid Test Sec -->
      <div class="single-book-covid-test-sec">
        <div class="clinic-banner">
          <span>30% off</span>
          <h2>RT-PCR Test</h2>
          <p>RT-PCR is the preferred test for detecting Covid infection in the body</p>
      </div>
      <div class="single-book-covid-test-sec-desc">
        <h3>Get this test done at home if you have:</h3>
        <ul>
          <li><i class="fa fa-check" aria-hidden="true"></i> Fever</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Fatigue</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Chronic cough</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Sore throat</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Diarrhea</li>
        </ul>
        <a class="bttn" href="javascript:void(0)">Book Now</a>
      </div>
      </div>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="item">
                            <!-- Single Book Covid Test Sec -->
      <div class="single-book-covid-test-sec">
        <div class="clinic-banner">
          <span>30% off</span>
          <h2>RT-PCR Test</h2>
          <p>RT-PCR is the preferred test for detecting Covid infection in the body</p>
      </div>
      <div class="single-book-covid-test-sec-desc">
        <h3>Get this test done at home if you have:</h3>
        <ul>
          <li><i class="fa fa-check" aria-hidden="true"></i> Fever</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Fatigue</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Chronic cough</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Sore throat</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Diarrhea</li>
        </ul>
        <a class="bttn" href="javascript:void(0)">Book Now</a>
      </div>
      </div>
                        </div>
                    </ion-slide>
                 
                </ion-slides>
            </div>
        </div>
    </div>

     
    </div>
  </div>
  </div>
</div>

<!-- Clinic Pro Article Sec  -->
<div class="clinic-pro-article-sec">
  <div class="container">
   <div class="sec-head mt-4">
     <h2>Read health articles and be updated about carona</h2>
   </div>
    <div class="row">
      <div class="col-12">
        <!-- Single Clinic Pro Article Sec  -->
        <div class="single-clinic-pro-article-sec">
          <div class="article-img">
            <img src="assets/images/services-img.jpg" alt="">
          </div>
          <div class="article-content">
            <div class="cat-head">Covid</div>
            <h3>All you need to Know About Sputnik V Vaccine</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
            <div class="cat-head">10 minutes read</div>
           </div>
        </div>
      </div>
      <div class="col-6">
       <!-- Single Clinic Pro Article Sec  -->
       <div class="single-clinic-pro-article-sec">
         <div class="article-img">
           <img src="assets/images/services-img.jpg" alt="">
         </div>
         <div class="article-content">
           <div class="cat-head">Covid</div>
           <h3>All you need to Know About Sputnik V Vaccine</h3>
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
           <div class="cat-head">10 minutes read</div>
          </div>
       </div>
     </div>
     <div class="col-6">
       <!-- Single Clinic Pro Article Sec  -->
       <div class="single-clinic-pro-article-sec">
         <div class="article-img">
           <img src="assets/images/services-img.jpg" alt="">
         </div>
         <div class="article-content">
           <div class="cat-head">Covid</div>
           <h3>All you need to Know About Sputnik V Vaccine</h3>
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
           <div class="cat-head">10 minutes read</div>
          </div>
       </div>
     </div>
    </div>
  </div>
</div>
</ion-content>
