<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button *ngIf="canGoBack"></ion-back-button>
      <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
    </ion-buttons>
    <ion-title>Schedule Timings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Page Content -->

<!-- Appointment Visit Sec  -->
<div class="appointment-details-sec visit-sec">
<div class="date-sec mob-consultation-sec bt-2">
<h3>Purpose of Visit</h3>
<p>Consultation</p>
</div>
<div class="future-appointment-sec d-flex flex-nowrap">
<div class="single-future-appointment-sec">
<h4>Today, 19 Jul</h4>
<h5>15 slots available</h5>
</div>
<div class="single-future-appointment-sec">
<h4>Today, 19 Jul</h4>
<h5>15 slots available</h5>
</div>
<div class="single-future-appointment-sec">
<h4>Today, 19 Jul</h4>
<h5>15 slots available</h5>
</div>
<div class="single-future-appointment-sec">
<h4>Today, 19 Jul</h4>
<h5>15 slots available</h5>
</div>
</div>
<div class="current-appointment-sec">
<h3>Today, 19 Jul</h3>
<div class="single-appointment-sec">
<h3>Afternoon <span>8 slots</span></h3>
<a (click)="openBookingConformationPage()">02:00 PM</a>
<a (click)="openBookingConformationPage()">03:00 PM</a>
<a (click)="openBookingConformationPage()">04:00 PM</a>
<a (click)="openBookingConformationPage()">05:00 PM</a>
<a (click)="openBookingConformationPage()">06:00 PM</a>
<a (click)="openBookingConformationPage()">07:00 PM</a>
<a (click)="openBookingConformationPage()">08:00 PM</a>
<a (click)="openBookingConformationPage()">09:00 PM</a>
<a (click)="openBookingConformationPage()">10:00 PM</a>
<a (click)="openBookingConformationPage()">11:00 PM</a>
<a (click)="openBookingConformationPage()">02:00 PM</a>
<a (click)="openBookingConformationPage()">02:00 PM</a>
</div>
<div class="single-appointment-sec mt-3">
<h3>Afternoon <span>8 slots</span></h3>
<a (click)="openBookingConformationPage()">02:00 PM</a>
<a (click)="openBookingConformationPage()">03:00 PM</a>
<a (click)="openBookingConformationPage()">04:00 PM</a>
<a (click)="openBookingConformationPage()">05:00 PM</a>
<a (click)="openBookingConformationPage()">06:00 PM</a>
<a (click)="openBookingConformationPage()">07:00 PM</a>
<a (click)="openBookingConformationPage()">08:00 PM</a>
<a (click)="openBookingConformationPage()">09:00 PM</a>
<a (click)="openBookingConformationPage()">10:00 PM</a>
<a (click)="openBookingConformationPage()">11:00 PM</a>
<a (click)="openBookingConformationPage()">02:00 PM</a>
<a (click)="openBookingConformationPage()">02:00 PM</a>
</div>
</div>

</div>
<!-- <p>Doctor details & Time slots</p>
<ion-card>
Tomorrow 22 Aug
</ion-card>
<ion-card (click)="openBookingConformationPage()">
10:30 AM
</ion-card> -->


<!-- /Page Content -->
</ion-content>
